2-0-9_Timer_TON_RS485/2-0-9 Node-red Program.txt
[{"id":"fc1c671c.4cbe58","type":"function","z":"179f2c8b.a39993","name":"Read T97","func":"msg.payload='\\u0005'+\"00RSS0106%TW097\"+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":320.01734924316406,"y":60.01047325134277,"wires":[["1c91b31.e29554d"]]},{"id":"1c91b31.e29554d","type":"serial request","z":"179f2c8b.a39993","name":"","serial":"8a31747.856ce88","x":461.01734161376953,"y":59.01048278808594,"wires":[["d8d3f306.c1c3d","c058f224.a1c47"]]},{"id":"aa1b6a9c.efde98","type":"inject","z":"179f2c8b.a39993","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":159.06935119628906,"y":58.96533966064453,"wires":[["fc1c671c.4cbe58"]]},{"id":"d8d3f306.c1c3d","type":"debug","z":"179f2c8b.a39993","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":625.069465637207,"y":112.57295608520508,"wires":[]},{"id":"c2ca4e28.023da","type":"function","z":"179f2c8b.a39993","name":"Write M0=0","func":"msg.payload='\\u0005'+\"00WSS0106%MW0000000\"+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":350.0174217224121,"y":182.010422706604,"wires":[["63002ed8.7be9e"]]},{"id":"63002ed8.7be9e","type":"serial request","z":"179f2c8b.a39993","name":"","serial":"8a31747.856ce88","x":542.0173301696777,"y":183.01046180725098,"wires":[["321dddb5.6af092"]]},{"id":"8b530055.a70db","type":"inject","z":"179f2c8b.a39993","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":175.06938934326172,"y":180.96532249450684,"wires":[["c2ca4e28.023da"]]},{"id":"321dddb5.6af092","type":"debug","z":"179f2c8b.a39993","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":696.0694389343262,"y":184.57290077209473,"wires":[]},{"id":"c058f224.a1c47","type":"function","z":"179f2c8b.a39993","name":"S Return Value","func":"var dec = msg.payload.charAt(13);\nmsg.payload=dec;\nreturn msg;","outputs":1,"noerr":0,"x":652.0173416137695,"y":59.01043891906738,"wires":[["76335e48.556c2"]]},{"id":"76335e48.556c2","type":"ui_text","z":"179f2c8b.a39993","group":"6200351e.7bc8cc","order":0,"width":0,"height":0,"name":"","label":"S Value","format":"{{msg.payload}}","layout":"row-spread","x":818.0798797607422,"y":58.25004005432129,"wires":[]},{"id":"7870978d.6e8b68","type":"function","z":"179f2c8b.a39993","name":"Write M0=1","func":"msg.payload='\\u0005'+\"00WSS0106%MW0000001\"+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":353.0173530578613,"y":243.01041221618652,"wires":[["63002ed8.7be9e"]]},{"id":"c54b6b74.e79898","type":"inject","z":"179f2c8b.a39993","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":176.01733016967773,"y":242.01040077209473,"wires":[["7870978d.6e8b68"]]},{"id":"ca90bac6.d5f588","type":"function","z":"179f2c8b.a39993","name":"Write D1=0x10","func":"msg.payload='\\u0005'+\"00WSS0106%DW0010010\"+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":363.0000190734863,"y":312.0104103088379,"wires":[["63002ed8.7be9e"]]},{"id":"b5928e77.a0e3c","type":"inject","z":"179f2c8b.a39993","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170.99999618530273,"y":310.0103950500488,"wires":[["ca90bac6.d5f588"]]},{"id":"75a12149.7e689","type":"function","z":"179f2c8b.a39993","name":"Write D1=0x11  M0=1","func":"msg.payload='\\u0005'+\"00WSS0206%DW001001106%MW0000001\"+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":376.0000190734863,"y":365.0104103088379,"wires":[["63002ed8.7be9e"]]},{"id":"ee585d49.8575f","type":"inject","z":"179f2c8b.a39993","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":171,"y":365.0104103088379,"wires":[["75a12149.7e689"]]},{"id":"8a31747.856ce88","type":"serial-port","z":"","serialport":"COM14","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"100"},{"id":"6200351e.7bc8cc","type":"ui_group","z":"","name":"PLC Testing","tab":"a4861a30.b27ed8","disp":true,"width":"9","collapse":false},{"id":"a4861a30.b27ed8","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]