2-0-7_Sequence/2-0-7 Node-red Program.txt
[{"id":"fc1c671c.4cbe58","type":"function","z":"179f2c8b.a39993","name":"Read S","func":"msg.payload='\\u0005'+\"00RSS0106%SW000\"+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":320.01734924316406,"y":60.01047325134277,"wires":[["1c91b31.e29554d"]]},{"id":"1c91b31.e29554d","type":"serial request","z":"179f2c8b.a39993","name":"","serial":"8a31747.856ce88","x":461.01734161376953,"y":59.01048278808594,"wires":[["d8d3f306.c1c3d","c058f224.a1c47"]]},{"id":"aa1b6a9c.efde98","type":"inject","z":"179f2c8b.a39993","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":174.0693473815918,"y":59.965338706970215,"wires":[["fc1c671c.4cbe58"]]},{"id":"d8d3f306.c1c3d","type":"debug","z":"179f2c8b.a39993","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":625.069465637207,"y":112.57295608520508,"wires":[]},{"id":"c2ca4e28.023da","type":"function","z":"179f2c8b.a39993","name":"Write S","func":"var dec=global.get(\"dec\")||0;\nif(dec>=4)\n    dec=0;\nmsg.payload='\\u0005'+\"00WSS0106%SW000000\"+dec+'\\u0004'+'\\u000A'+'\\u000A';\ndec+=1;\nglobal.set(\"dec\",dec);\nreturn msg;","outputs":1,"noerr":0,"x":341.0174331665039,"y":228.01041889190674,"wires":[["63002ed8.7be9e","ae3f5d59.a2ed7"]]},{"id":"63002ed8.7be9e","type":"serial request","z":"179f2c8b.a39993","name":"","serial":"8a31747.856ce88","x":493.01737213134766,"y":228.01044511795044,"wires":[["321dddb5.6af092"]]},{"id":"8b530055.a70db","type":"inject","z":"179f2c8b.a39993","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":175.06940460205078,"y":228.96530103683472,"wires":[["c2ca4e28.023da"]]},{"id":"321dddb5.6af092","type":"debug","z":"179f2c8b.a39993","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650.0694808959961,"y":228.57289218902588,"wires":[]},{"id":"c058f224.a1c47","type":"function","z":"179f2c8b.a39993","name":"S Return Value","func":"var dec = msg.payload.charAt(13);\nmsg.payload=dec;\nreturn msg;","outputs":1,"noerr":0,"x":652.0173416137695,"y":59.01043891906738,"wires":[["76335e48.556c2"]]},{"id":"76335e48.556c2","type":"ui_text","z":"179f2c8b.a39993","group":"6200351e.7bc8cc","order":0,"width":0,"height":0,"name":"","label":"S Value","format":"{{msg.payload}}","layout":"row-spread","x":818.0798797607422,"y":58.25004005432129,"wires":[]},{"id":"ae3f5d59.a2ed7","type":"debug","z":"179f2c8b.a39993","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500.0798645019531,"y":186.55906677246094,"wires":[]},{"id":"8a31747.856ce88","type":"serial-port","z":"","serialport":"COM14","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"100"},{"id":"6200351e.7bc8cc","type":"ui_group","z":"","name":"PLC Testing","tab":"a4861a30.b27ed8","disp":true,"width":"9","collapse":false},{"id":"a4861a30.b27ed8","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]