2-12 wifi_plc/node-red(plc08).txt
[{"id":"d5c6117a.f608c","type":"mqtt out","z":"54a13523.fbbddc","name":"","topic":"/plc08/inTopic","qos":"0","retain":"false","broker":"9a737a89.f83298","x":840,"y":115,"wires":[]},{"id":"8dd50bae.757938","type":"ui_switch","z":"54a13523.fbbddc","name":"","label":"P40","tooltip":"","group":"992fa4b6.e07868","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":130,"y":100,"wires":[["b5345f54.0a287"]]},{"id":"e66f4587.38dfb8","type":"ui_switch","z":"54a13523.fbbddc","name":"","label":"P41","tooltip":"","group":"992fa4b6.e07868","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":129.99999237060547,"y":153.00002098083496,"wires":[["fe631ac8.c64b68"]]},{"id":"33dea0b1.95d85","type":"ui_switch","z":"54a13523.fbbddc","name":"","label":"P42","tooltip":"","group":"992fa4b6.e07868","order":6,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":127.99999237060547,"y":213.00002098083496,"wires":[["9ffd79a9.b435c8"]]},{"id":"2f355ff5.da6ac","type":"ui_switch","z":"54a13523.fbbddc","name":"","label":"P43","tooltip":"","group":"992fa4b6.e07868","order":8,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":126.99999237060547,"y":264.00002098083496,"wires":[["65a79009.0ddf7"]]},{"id":"b5345f54.0a287","type":"function","z":"54a13523.fbbddc","name":"to global variable","func":"global.set(\"out40\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":296.9803924560547,"y":98.99613380432129,"wires":[["34599f3.3ad526"]]},{"id":"fe631ac8.c64b68","type":"function","z":"54a13523.fbbddc","name":"to global variable","func":"global.set(\"out41\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":295.9803924560547,"y":151.9961338043213,"wires":[["34599f3.3ad526"]]},{"id":"9ffd79a9.b435c8","type":"function","z":"54a13523.fbbddc","name":"to global variable","func":"global.set(\"out42\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":297.9803924560547,"y":210.9961338043213,"wires":[["34599f3.3ad526"]]},{"id":"65a79009.0ddf7","type":"function","z":"54a13523.fbbddc","name":"to global variable","func":"global.set(\"out43\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":292.9804153442383,"y":261.9961404800415,"wires":[["34599f3.3ad526"]]},{"id":"34599f3.3ad526","type":"function","z":"54a13523.fbbddc","name":"encorder","func":"var p40=global.get(\"out40\")||0;\nvar p41=global.get(\"out41\")||0;\nvar p42=global.get(\"out42\")||0;\nvar p43=global.get(\"out43\")||0;\n\nvar command=p40+p41*2+p42*4+p43*8;\n\nvar msg2={},msg16={};\nmsg2.payload=command.toString(2);\nmsg.payload=command.toString(10);\nmsg16.payload=command.toString(16);\nreturn [msg2,msg,msg16];","outputs":3,"noerr":0,"x":510.99998474121094,"y":102.00001621246338,"wires":[[],[],["16dc65c6.ae357a"]]},{"id":"16dc65c6.ae357a","type":"function","z":"54a13523.fbbddc","name":"","func":"var plc=global.get(\"plc\");\nvar newMsg={};\nnewMsg.payload=\"{'chipid':'\"+plc+\"','p4':'\"+msg.payload+\"'}\";\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":669,"y":115,"wires":[["d5c6117a.f608c"]]},{"id":"83aa989b.86b648","type":"mqtt in","z":"54a13523.fbbddc","name":"","topic":"/plc08/outTopic","qos":"0","datatype":"auto","broker":"9a737a89.f83298","x":160,"y":340,"wires":[["fc25c7da.ceba18"]]},{"id":"fc25c7da.ceba18","type":"json","z":"54a13523.fbbddc","name":"","property":"payload","action":"","pretty":false,"x":310,"y":340,"wires":[["232937d7.2f7548"]]},{"id":"b910a13d.a54c7","type":"function","z":"54a13523.fbbddc","name":"10진수를 2진수로 정리","func":"var dec=msg.payload;\nvar bin = parseInt(dec).toString(2);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nmsg.payload=bin;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":420,"wires":[["31a88f96.a12be"]]},{"id":"31a88f96.a12be","type":"function","z":"54a13523.fbbddc","name":"decorder","func":"var out=[];\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3]];\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":622.0382995605469,"y":419.9617872238159,"wires":[["4cb00188.c426e"],["d4421152.e1019"],["459ff1bb.95ba6"],["4029f2c.ba6bd0c"]]},{"id":"4cb00188.c426e","type":"ui_led","z":"54a13523.fbbddc","group":"992fa4b6.e07868","order":13,"width":"","height":"","label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p00","x":781.0452117919922,"y":399.000039100647,"wires":[]},{"id":"d4421152.e1019","type":"ui_led","z":"54a13523.fbbddc","group":"992fa4b6.e07868","order":15,"width":"","height":"","label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p01","x":782.9827461242676,"y":441.10757541656494,"wires":[]},{"id":"459ff1bb.95ba6","type":"ui_led","z":"54a13523.fbbddc","group":"992fa4b6.e07868","order":17,"width":"","height":"","label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p02","x":782.9827461242676,"y":481.10757541656494,"wires":[]},{"id":"4029f2c.ba6bd0c","type":"ui_led","z":"54a13523.fbbddc","group":"992fa4b6.e07868","order":19,"width":"","height":"","label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p03","x":782.9827461242676,"y":520.1076059341431,"wires":[]},{"id":"95648183.c7b38","type":"function","z":"54a13523.fbbddc","name":"","func":"var out=[];\nout.push({payload:msg.payload.p0.charAt(1)});\nout.push({payload:msg.payload.p0.charAt(0)});\nreturn [out[0],out[1]];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":240,"y":420,"wires":[["b910a13d.a54c7"],["acbed1c9.1c14a"]]},{"id":"acbed1c9.1c14a","type":"function","z":"54a13523.fbbddc","name":"10진수를 2진수로 정리","func":"var dec=msg.payload;\nvar bin = parseInt(dec).toString(2);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nmsg.payload=bin;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":600,"wires":[["38640b5f.03fa24"]]},{"id":"38640b5f.03fa24","type":"function","z":"54a13523.fbbddc","name":"decorder","func":"var out=[];\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nreturn [out[0],out[1]];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":622.0382995605469,"y":599.9617872238159,"wires":[["bc24ea52.40d058"],["6f63ebd6.d72db4"]]},{"id":"bc24ea52.40d058","type":"ui_led","z":"54a13523.fbbddc","group":"992fa4b6.e07868","order":20,"width":"","height":"","label":"p04","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p04","x":781.0452117919922,"y":579.000039100647,"wires":[]},{"id":"6f63ebd6.d72db4","type":"ui_led","z":"54a13523.fbbddc","group":"992fa4b6.e07868","order":21,"width":"","height":"","label":"p05","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p05","x":782.9827461242676,"y":621.1075754165649,"wires":[]},{"id":"b38ee432.6c3c38","type":"ui_dropdown","z":"54a13523.fbbddc","name":"","label":"","tooltip":"","place":"Select option","group":"992fa4b6.e07868","order":10,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"i2r-78f186","value":"i2r-78f186","type":"str"},{"label":"i2r-78f187","value":"i2r-78f187","type":"str"}],"payload":"","topic":"","x":460,"y":40,"wires":[["ae133109.86814"]]},{"id":"ae133109.86814","type":"function","z":"54a13523.fbbddc","name":"","func":"global.set(\"plc\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":40,"wires":[["c36e6a07.509978"]]},{"id":"613b9569.2b3dfc","type":"function","z":"54a13523.fbbddc","name":"","func":"var out=[];\nout[0]=\"i2r-252e11\";\nout[1]=\"i2r-78f187\";\nout[2]=\"i2r-78f188\";\nmsg.options=out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":40,"wires":[["b38ee432.6c3c38"]]},{"id":"82389b03.965808","type":"inject","z":"54a13523.fbbddc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":40,"wires":[["613b9569.2b3dfc"]]},{"id":"232937d7.2f7548","type":"switch","z":"54a13523.fbbddc","name":"","property":"payload.chipid","propertyType":"msg","rules":[{"t":"eq","v":"plc","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":340,"wires":[["95648183.c7b38"]]},{"id":"c36e6a07.509978","type":"debug","z":"54a13523.fbbddc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":40,"wires":[]},{"id":"9a737a89.f83298","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","tls":"ff2cdf6a.e3526","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"992fa4b6.e07868","type":"ui_group","z":"","name":"PLC Testing","tab":"9107d848.5812c8","order":1,"disp":true,"width":"9","collapse":false},{"id":"ff2cdf6a.e3526","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"9107d848.5812c8","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]