2-0-2 PLC 연속제어 Node-red.txt
[{"id":"874a296e.95a268","type":"function","z":"576a29e9.3e5ca8","name":"읽기","func":"msg.payload='\\u0005'+\"00RSS0104%PW0\"+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":245.01156616210938,"y":78.02777099609375,"wires":[["c54fb7e1.c1ab08"]]},{"id":"c54fb7e1.c1ab08","type":"serial request","z":"576a29e9.3e5ca8","name":"","serial":"9b80aabd.b7ef88","x":375.0115661621094,"y":78.02777099609375,"wires":[["637726cc.bac618","f5d22d6f.b9537"]]},{"id":"f5d22d6f.b9537","type":"function","z":"576a29e9.3e5ca8","name":"쓰기","func":"msg.payload='\\u0005'+\"00WSS0104%PW4000f\"+'\\u0004'+'\\u000A'+'\\u000A';  \nreturn msg;","outputs":1,"noerr":0,"x":525.0115661621094,"y":78.02777099609375,"wires":[["a37c2b9e.610878"]]},{"id":"f0aa1780.7e80d8","type":"inject","z":"576a29e9.3e5ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":105.01156616210938,"y":78.02777099609375,"wires":[["874a296e.95a268"]]},{"id":"637726cc.bac618","type":"debug","z":"576a29e9.3e5ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":505.0115661621094,"y":158.02777099609375,"wires":[]},{"id":"f09793a.98f987","type":"debug","z":"576a29e9.3e5ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":804.0116119384766,"y":155.02778148651123,"wires":[]},{"id":"a37c2b9e.610878","type":"serial request","z":"576a29e9.3e5ca8","name":"","serial":"9b80aabd.b7ef88","x":675.0115661621094,"y":78.02777099609375,"wires":[["f09793a.98f987"]]},{"id":"9b80aabd.b7ef88","type":"serial-port","z":"","serialport":"COM14","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"1000"}]