2-0-3 유선 RS485  PLC HMI Dashboard Node RED.txt
[{"id":"b8e94aa.fd098b8","type":"ui_switch","z":"f30028e7.7a7a68","name":"","label":"P40","tooltip":"","group":"458ecdd8.73b324","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":668.0174407958984,"y":192.00000953674316,"wires":[["a0829ac5.b87bf8"]]},{"id":"9e168076.d7b82","type":"ui_switch","z":"f30028e7.7a7a68","name":"","label":"P41","tooltip":"","group":"458ecdd8.73b324","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":668.0174331665039,"y":245.00003051757812,"wires":[["639d7857.2bdf88"]]},{"id":"d394688c.44d908","type":"ui_switch","z":"f30028e7.7a7a68","name":"","label":"P42","tooltip":"","group":"458ecdd8.73b324","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":666.0174331665039,"y":305.0000305175781,"wires":[["bfc12cf9.fd9ec"]]},{"id":"cb93910c.572a7","type":"ui_switch","z":"f30028e7.7a7a68","name":"","label":"P44","tooltip":"","group":"458ecdd8.73b324","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"8","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":665.0174331665039,"y":356.0000305175781,"wires":[["23b36600.bb0b3a"]]},{"id":"eb3e0214.63ff5","type":"ui_text","z":"f30028e7.7a7a68","group":"458ecdd8.73b324","order":13,"width":0,"height":0,"name":"","label":"받음","format":"{{msg.payload}}","layout":"row-spread","x":558.0173988342285,"y":89.00006294250488,"wires":[]},{"id":"2a76fcf6.37f2a4","type":"ui_text","z":"f30028e7.7a7a68","group":"458ecdd8.73b324","order":12,"width":0,"height":0,"name":"","label":"보냄","format":"{{msg.payload}}","layout":"row-spread","x":856.9978218078613,"y":87.99616050720215,"wires":[]},{"id":"e8587852.3973b8","type":"function","z":"f30028e7.7a7a68","name":"쓰기","func":"var p40=global.get(\"out40\")||0;\nvar p41=global.get(\"out41\")||0;\nvar p42=global.get(\"out42\")||0;\nvar p43=global.get(\"out43\")||0;\n\nvar dec = parseInt(p40+p41+p42+p43);\nmsg.payload = '\\u0005'+\"00WSS0104%PW4000\"+dec.toString(16)+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":725.9978065490723,"y":129.99618792533875,"wires":[["2a76fcf6.37f2a4","3f12f04f.9f381"]]},{"id":"a0829ac5.b87bf8","type":"function","z":"f30028e7.7a7a68","name":"","func":"global.set(\"out40\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":810.9978256225586,"y":192.9961175918579,"wires":[[]]},{"id":"639d7857.2bdf88","type":"function","z":"f30028e7.7a7a68","name":"","func":"global.set(\"out41\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":809.9978256225586,"y":245.9961175918579,"wires":[[]]},{"id":"bfc12cf9.fd9ec","type":"function","z":"f30028e7.7a7a68","name":"","func":"global.set(\"out42\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":811.9978256225586,"y":304.9961175918579,"wires":[[]]},{"id":"23b36600.bb0b3a","type":"function","z":"f30028e7.7a7a68","name":"","func":"global.set(\"out43\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":819.9978256225586,"y":355.9961175918579,"wires":[[]]},{"id":"a2af0f8c.07d78","type":"function","z":"f30028e7.7a7a68","name":"읽기","func":"msg.payload='\\u0005'+\"00RSS0104%PW0\"+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":279.0174102783203,"y":132.01050925254822,"wires":[["89e85365.46b5f"]]},{"id":"89e85365.46b5f","type":"serial request","z":"f30028e7.7a7a68","name":"","serial":"9b80aabd.b7ef88","x":409.0174102783203,"y":132.01050925254822,"wires":[["57049946.564dc8","eb3e0214.63ff5","2e3a4da1.728402"]]},{"id":"53e70d23.d7f044","type":"inject","z":"f30028e7.7a7a68","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":139.0174102783203,"y":132.01050925254822,"wires":[["a2af0f8c.07d78"]]},{"id":"3f12f04f.9f381","type":"serial request","z":"f30028e7.7a7a68","name":"","serial":"9b80aabd.b7ef88","x":868.0172958374023,"y":129.01068496704102,"wires":[[]]},{"id":"57049946.564dc8","type":"delay","z":"f30028e7.7a7a68","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":574.0729370117188,"y":131.916846036911,"wires":[["e8587852.3973b8"]]},{"id":"8bc4f3d1.ac7e8","type":"ui_led","z":"f30028e7.7a7a68","group":"458ecdd8.73b324","order":6,"label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p00","x":492.07987213134766,"y":196.9028377532959,"wires":[]},{"id":"2e3a4da1.728402","type":"function","z":"f30028e7.7a7a68","name":"2진수로 정리","func":"var dec = msg.payload.charAt(13);\nvar bin = parseInt(dec).toString(2);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\n\ndec = msg.payload.charAt(12);\nvar bin1 = parseInt(dec).toString(2);\nbin1=\"0000\"+bin1;\nbin1 = bin1.slice(-4);\n\nmsg.payload=bin1+bin;\nreturn msg;","outputs":1,"noerr":0,"x":141.01736068725586,"y":213.01039218902588,"wires":[["9f336e46.d8faf"]]},{"id":"9f336e46.d8faf","type":"function","z":"f30028e7.7a7a68","name":"","func":"var out=[];\nout.push({payload:msg.payload.charAt(7)});\nout.push({payload:msg.payload.charAt(6)});\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5]];\n","outputs":6,"noerr":0,"x":294.07295989990234,"y":230.86458587646484,"wires":[["8bc4f3d1.ac7e8"],["ee1e9794.86f1b8"],["198fc3f0.d041fc"],["8b019f82.945e1"],["e25e7b99.26d988"],["9c2e3d7c.89cf6"]]},{"id":"ee1e9794.86f1b8","type":"ui_led","z":"f30028e7.7a7a68","group":"458ecdd8.73b324","order":7,"label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p01","x":494.01740646362305,"y":239.01037406921387,"wires":[]},{"id":"198fc3f0.d041fc","type":"ui_led","z":"f30028e7.7a7a68","group":"458ecdd8.73b324","order":8,"label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p02","x":494.01740646362305,"y":279.01037406921387,"wires":[]},{"id":"8b019f82.945e1","type":"ui_led","z":"f30028e7.7a7a68","group":"458ecdd8.73b324","order":9,"label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p03","x":494.01740646362305,"y":318.010404586792,"wires":[]},{"id":"e25e7b99.26d988","type":"ui_led","z":"f30028e7.7a7a68","group":"458ecdd8.73b324","order":10,"label":"p04","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p04","x":497.01740646362305,"y":357.010404586792,"wires":[]},{"id":"9c2e3d7c.89cf6","type":"ui_led","z":"f30028e7.7a7a68","group":"458ecdd8.73b324","order":11,"label":"p05","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p05","x":496.01740646362305,"y":402.010404586792,"wires":[]},{"id":"458ecdd8.73b324","type":"ui_group","z":"","name":"PLC Testing","tab":"f02856cc.aae528","disp":true,"width":"9","collapse":false},{"id":"9b80aabd.b7ef88","type":"serial-port","z":"","serialport":"COM14","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"1000"},{"id":"f02856cc.aae528","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]