2-0-2 PLC 연속제어 Node-red.txt
[{"id":"10a1e5bd.d37d4a","type":"function","z":"34505f0f.ff366","name":"read","func":"msg.payload='\\u0005'+\"00RSS0104%PW0\"+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":315.0173645019531,"y":116.01041412353516,"wires":[["66237d47.7aa9e4"]]},{"id":"66237d47.7aa9e4","type":"serial request","z":"34505f0f.ff366","name":"","serial":"d5f29ce7.b25db","x":435.0173645019531,"y":116.01041412353516,"wires":[["9acfbfcb.60f34","bd1d0d97.823f5"]]},{"id":"bd1d0d97.823f5","type":"function","z":"34505f0f.ff366","name":"write","func":"msg.payload='\\u0005'+\"00WSS0104%PW4000f\"+'\\u0004';  \nreturn msg;","outputs":1,"noerr":0,"x":595.0173645019531,"y":116.01041412353516,"wires":[["f0a2bb62.d8ec38"]]},{"id":"c2af6c33.60333","type":"inject","z":"34505f0f.ff366","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":175.01736450195312,"y":116.01041412353516,"wires":[["10a1e5bd.d37d4a"]]},{"id":"9acfbfcb.60f34","type":"debug","z":"34505f0f.ff366","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":575.0173645019531,"y":196.01041412353516,"wires":[]},{"id":"db09e306.f72ff","type":"debug","z":"34505f0f.ff366","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":874.0174102783203,"y":193.01042461395264,"wires":[]},{"id":"f0a2bb62.d8ec38","type":"serial request","z":"34505f0f.ff366","name":"","serial":"d5f29ce7.b25db","x":735.0173645019531,"y":116.01041412353516,"wires":[["db09e306.f72ff"]]},{"id":"d5f29ce7.b25db","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"300","bin":"false","out":"time","addchar":"false","responsetimeout":"1000"}]