2-3 plc node-red 연결.txt
[{"id":"da9ef9db.f11c88","type":"inject","z":"ee7dbdec.5db01","name":"","topic":"","payload":"F","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":82,"wires":[["99cb357c.a51758"]]},{"id":"3a981bee.e8a664","type":"function","z":"ee7dbdec.5db01","name":"kdi6033@gamil","func":"var S = function(x) {\n  return msg.string.setValue(x);\n}\nmsg.payload = '\\u0005'+S(\"00WSS0104%PW4000\")+msg.payload+String.fromCharCode(4);\nreturn msg;\n","outputs":1,"noerr":0,"x":389.99991607666016,"y":82.00001430511475,"wires":[["58688fc9.188d8","96b3b483.a462c8"]]},{"id":"58688fc9.188d8","type":"debug","z":"ee7dbdec.5db01","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":568.9998779296875,"y":83.00001525878906,"wires":[]},{"id":"99cb357c.a51758","type":"string","z":"ee7dbdec.5db01","name":"","methods":[],"prop":"","propout":"string","object":"str","objectout":"msg","x":225.08337783813477,"y":81.87502670288086,"wires":[["3a981bee.e8a664"]]},{"id":"96b3b483.a462c8","type":"serial out","z":"ee7dbdec.5db01","name":"","serial":"acf9bb8e.2fd878","x":564,"y":145,"wires":[]},{"id":"acf9bb8e.2fd878","type":"serial-port","z":"","serialport":"COM7","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"1000","bin":"false","out":"time","addchar":false}]