2-3-1 plc node-red UI 연결.txt
[{"id":"cb12190f.e948f8","type":"function","z":"ee7dbdec.5db01","name":"","func":"var S = function(x) {\n  return msg.string.setValue(x);\n}\nmsg.payload = '\\u0005'+S(\"00WSS0104%PW4000\")+msg.payload+String.fromCharCode(4);\nreturn msg;\n","outputs":1,"noerr":0,"x":405.99991607666016,"y":77.00001430511475,"wires":[["ee4f7d4.c82b38","4b85fb0e.ccd464"]]},{"id":"98133c4d.9e5b","type":"string","z":"ee7dbdec.5db01","name":"","methods":[],"prop":"","propout":"string","object":"str","objectout":"msg","x":271.08337783813477,"y":76.87502670288086,"wires":[["cb12190f.e948f8"]]},{"id":"ee4f7d4.c82b38","type":"serial out","z":"ee7dbdec.5db01","name":"","serial":"acf9bb8e.2fd878","x":610,"y":140,"wires":[]},{"id":"b1d0bf4a.62e3a","type":"ui_text_input","z":"ee7dbdec.5db01","name":"","label":"kdi6033@gamil","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":129,"y":77,"wires":[["98133c4d.9e5b"]]},{"id":"4b85fb0e.ccd464","type":"ui_text","z":"ee7dbdec.5db01","group":"579d1179.2db9b","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":76,"wires":[]},{"id":"acf9bb8e.2fd878","type":"serial-port","z":"","serialport":"COM7","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"1000","bin":"false","out":"time","addchar":false},{"id":"579d1179.2db9b","type":"ui_group","name":"Group 1","tab":"5cf3ddee.7a7374","order":1,"disp":true,"width":6},{"id":"5cf3ddee.7a7374","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]