2-3-2 plc node-red UI 연결.txt
[{"id":"cb12190f.e948f8","type":"function","z":"ee7dbdec.5db01","name":"","func":"var S = function(x) {\n  return msg.string.setValue(x);\n}\nmsg.payload = '\\u0005'+S(\"00WSS0104%PW4000\")+msg.payload+String.fromCharCode(4);\nreturn msg;\n","outputs":1,"noerr":0,"x":405.99991607666016,"y":77.00001430511475,"wires":[["ee4f7d4.c82b38","4b85fb0e.ccd464"]]},{"id":"98133c4d.9e5b","type":"string","z":"ee7dbdec.5db01","name":"","methods":[],"prop":"","propout":"string","object":"str","objectout":"msg","x":271.08337783813477,"y":76.87502670288086,"wires":[["cb12190f.e948f8"]]},{"id":"ee4f7d4.c82b38","type":"serial out","z":"ee7dbdec.5db01","name":"","serial":"acf9bb8e.2fd878","x":601,"y":136,"wires":[]},{"id":"4b85fb0e.ccd464","type":"ui_text","z":"ee7dbdec.5db01","group":"579d1179.2db9b","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":76,"wires":[]},{"id":"f587c90c.382ff8","type":"ui_switch","z":"ee7dbdec.5db01","name":"","label":"P40","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":128,"y":76,"wires":[["98133c4d.9e5b"]]},{"id":"8d1a023b.28967","type":"ui_switch","z":"ee7dbdec.5db01","name":"","label":"P41","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":130,"y":148,"wires":[["98133c4d.9e5b"]]},{"id":"34920da0.b3af12","type":"ui_switch","z":"ee7dbdec.5db01","name":"","label":"P42","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":128,"y":208,"wires":[["98133c4d.9e5b"]]},{"id":"820c442b.01f808","type":"ui_switch","z":"ee7dbdec.5db01","name":"","label":"P44","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"8","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":127,"y":259,"wires":[["98133c4d.9e5b"]]},{"id":"f7bcb884.0a5568","type":"ui_numeric","z":"ee7dbdec.5db01","name":"","label":"numeric","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"15","step":1,"x":142,"y":329,"wires":[["ab46af81.952fc"]]},{"id":"ab46af81.952fc","type":"function","z":"ee7dbdec.5db01","name":"","func":"var dec = parseInt(msg.payload);\nmsg.payload = dec.toString(16);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":289,"y":322,"wires":[["98133c4d.9e5b"]]},{"id":"b5c0d0d.660ef3","type":"ui_slider","z":"ee7dbdec.5db01","name":"","label":"slider","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"15","step":1,"x":146,"y":390,"wires":[["ab46af81.952fc"]]},{"id":"acf9bb8e.2fd878","type":"serial-port","z":"","serialport":"COM7","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"1000","bin":"false","out":"time","addchar":false},{"id":"579d1179.2db9b","type":"ui_group","name":"Group 1","tab":"5cf3ddee.7a7374","order":1,"disp":true,"width":6},{"id":"5cf3ddee.7a7374","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]