2-7-1 mqtt web server.txt
[{"id":"8f9babea.f83c68","type":"mqtt out","z":"b52c5d61.0384e","name":"","topic":"/i2r_plc/outTopic","qos":"","retain":"","broker":"b7d8afea.0b4c3","x":652.0832710266113,"y":358.4930877685547,"wires":[]},{"id":"5967b940.56ca98","type":"mqtt in","z":"b52c5d61.0384e","name":"","topic":"/i2r_plc/inTopic","qos":"2","broker":"b7d8afea.0b4c3","x":112.07296752929688,"y":55.82642936706543,"wires":[["a4252b60.36c838"]]},{"id":"610c7091.02f38","type":"inject","z":"b52c5d61.0384e","name":"act:read","topic":"","payload":"{\"chipid\":\"66ce44\", \"act\":\"read\"}","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":443.0173149108887,"y":278.01044845581055,"wires":[["8f9babea.f83c68"]]},{"id":"f25dfa9.93d3408","type":"ui_switch","z":"b52c5d61.0384e","name":"","label":"P40","tooltip":"","group":"5f6cac59.91d494","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":106.01736068725586,"y":335.0103931427002,"wires":[["16cb3284.7dd06d"]]},{"id":"87eefaf5.154048","type":"ui_switch","z":"b52c5d61.0384e","name":"","label":"P41","tooltip":"","group":"5f6cac59.91d494","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":106.01735305786133,"y":388.01041412353516,"wires":[["7c67de01.0bc28"]]},{"id":"3de9936b.07fb4c","type":"ui_switch","z":"b52c5d61.0384e","name":"","label":"P42","tooltip":"","group":"5f6cac59.91d494","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":104.01735305786133,"y":448.01041412353516,"wires":[["50eb4875.3e3828"]]},{"id":"6ae8c7a2.74fd98","type":"ui_switch","z":"b52c5d61.0384e","name":"","label":"P44","tooltip":"","group":"5f6cac59.91d494","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":103.01735305786133,"y":499.01041412353516,"wires":[["337ae440.b94d4c"]]},{"id":"16cb3284.7dd06d","type":"function","z":"b52c5d61.0384e","name":"","func":"global.set(\"out40\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":248.99774551391602,"y":336.00650119781494,"wires":[["d2574c19.f708"]]},{"id":"7c67de01.0bc28","type":"function","z":"b52c5d61.0384e","name":"","func":"global.set(\"out41\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":247.99774551391602,"y":389.00650119781494,"wires":[["d2574c19.f708"]]},{"id":"50eb4875.3e3828","type":"function","z":"b52c5d61.0384e","name":"","func":"global.set(\"out42\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":249.99774551391602,"y":448.00650119781494,"wires":[["d2574c19.f708"]]},{"id":"337ae440.b94d4c","type":"function","z":"b52c5d61.0384e","name":"","func":"global.set(\"out43\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":257.997745513916,"y":499.00650119781494,"wires":[["d2574c19.f708"]]},{"id":"d2574c19.f708","type":"function","z":"b52c5d61.0384e","name":"쓰기","func":"var p40=global.get(\"out40\")||0;\nvar p41=global.get(\"out41\")||0;\nvar p42=global.get(\"out42\")||0;\nvar p43=global.get(\"out43\")||0;\n\nmsg.payload=\"{\\\"chipid\\\":\\\"66ce44\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"p40\\\":\"+p40+\"\\,\\\"p41\\\":\"+p41+\"\\,\\\"p42\\\":\"+p42+\"\\,\\\"p43\\\":\"+p43;\nreturn msg;","outputs":1,"noerr":0,"x":418.0173454284668,"y":336.0104064941406,"wires":[["8f9babea.f83c68"]]},{"id":"ec426443.dadbd8","type":"ui_led","z":"b52c5d61.0384e","group":"5f6cac59.91d494","order":6,"label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p00","x":762.017333984375,"y":40.01043128967285,"wires":[]},{"id":"57aeed5a.55b354","type":"function","z":"b52c5d61.0384e","name":"2진수로 정리","func":"//var dec = msg.payload.charAt(13);\nvar dec=msg.payload.p0;\nvar bin = parseInt(dec).toString(2);\nbin=\"000000\"+bin;\nbin = bin.slice(-6);\nmsg.payload=bin;\n\n//dec = msg.payload.charAt(12);\n//var bin1 = parseInt(dec).toString(2);\n//bin1=\"0000\"+bin1;\n//bin1 = bin1.slice(-4);\n\n//msg.payload=bin1+bin;\nreturn msg;","outputs":1,"noerr":0,"x":410.9548225402832,"y":56.11798572540283,"wires":[["2c95492f.c6a656"]]},{"id":"2c95492f.c6a656","type":"function","z":"b52c5d61.0384e","name":"","func":"var out=[];\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5]];\n","outputs":6,"noerr":0,"x":564.0104217529297,"y":73.9721794128418,"wires":[["ec426443.dadbd8"],["5450a45f.822acc"],["71c5a412.8f247c"],["3928883a.420cb8"],["5ea15930.ca78e8"],["dbad165d.01e458"]]},{"id":"5450a45f.822acc","type":"ui_led","z":"b52c5d61.0384e","group":"5f6cac59.91d494","order":7,"label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p01","x":763.9548683166504,"y":82.11796760559082,"wires":[]},{"id":"71c5a412.8f247c","type":"ui_led","z":"b52c5d61.0384e","group":"5f6cac59.91d494","order":8,"label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p02","x":763.9548683166504,"y":122.11796760559082,"wires":[]},{"id":"3928883a.420cb8","type":"ui_led","z":"b52c5d61.0384e","group":"5f6cac59.91d494","order":9,"label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p03","x":763.9548683166504,"y":161.11799812316895,"wires":[]},{"id":"5ea15930.ca78e8","type":"ui_led","z":"b52c5d61.0384e","group":"5f6cac59.91d494","order":10,"label":"p04","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p04","x":766.9548683166504,"y":200.11799812316895,"wires":[]},{"id":"dbad165d.01e458","type":"ui_led","z":"b52c5d61.0384e","group":"5f6cac59.91d494","order":11,"label":"p05","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p05","x":765.9548683166504,"y":245.11799812316895,"wires":[]},{"id":"a4252b60.36c838","type":"json","z":"b52c5d61.0384e","name":"","property":"payload","action":"","pretty":false,"x":265.06946563720703,"y":55.86459159851074,"wires":[["57aeed5a.55b354"]]},{"id":"b7d8afea.0b4c3","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5f6cac59.91d494","type":"ui_group","z":"","name":"PLC Testing","tab":"ec2fbc77.ad9c6","disp":true,"width":"9","collapse":false},{"id":"ec2fbc77.ad9c6","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]