2-8-1 plc mqtt UI.txt
[{"id":"6a942d5.cd52dd4","type":"mqtt in","z":"2cffe3aa.dec52c","name":"","topic":"/i2r_plc/inTopic","qos":"2","broker":"b4f0b15d.52ad4","x":112.08342742919922,"y":533.8195657730103,"wires":[["7dea31b4.c22d"]]},{"id":"6423ce28.d12c3","type":"mqtt out","z":"2cffe3aa.dec52c","name":"","topic":"/i2r_plc/outTopic","qos":"","retain":"","broker":"b4f0b15d.52ad4","x":803.0833396911621,"y":273.5000352859497,"wires":[]},{"id":"42fe9763.76eb18","type":"function","z":"2cffe3aa.dec52c","name":"plc protocol","func":"var chipid=global.get(\"chipid\");\nvar newMsg={};\nnewMsg.payload={\"chipid\":chipid,\"act\":\"write\",\"comm\":msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":615.0694808959961,"y":272.7500305175781,"wires":[["6423ce28.d12c3"]]},{"id":"7dea31b4.c22d","type":"string","z":"2cffe3aa.dec52c","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":270.0800666809082,"y":534.4029188156128,"wires":[["1557acfe.c27fd3"]]},{"id":"f2dce9b2.b255d8","type":"ui_switch","z":"2cffe3aa.dec52c","name":"","label":"P40","tooltip":"","group":"7100f042.bf45a","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":78.01736831665039,"y":272.0104703903198,"wires":[["61ca4c94.446244"]]},{"id":"7d75f884.0276b8","type":"ui_switch","z":"2cffe3aa.dec52c","name":"","label":"P41","tooltip":"","group":"7100f042.bf45a","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":78.01736068725586,"y":325.0104913711548,"wires":[["5acd5765.9ce4d8"]]},{"id":"a165f85d.f7f748","type":"ui_switch","z":"2cffe3aa.dec52c","name":"","label":"P42","tooltip":"","group":"7100f042.bf45a","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":76.01736068725586,"y":385.0104913711548,"wires":[["9a137b42.8ee6c8"]]},{"id":"897cb6ab.5033e8","type":"ui_switch","z":"2cffe3aa.dec52c","name":"","label":"P43","tooltip":"","group":"7100f042.bf45a","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":75.01736068725586,"y":436.0104913711548,"wires":[["b38c5ce6.f094b"]]},{"id":"61ca4c94.446244","type":"function","z":"2cffe3aa.dec52c","name":"to global variable","func":"global.set(\"out40\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":244.99776077270508,"y":271.0066041946411,"wires":[["6e0bc48f.bbe3cc"]]},{"id":"5acd5765.9ce4d8","type":"function","z":"2cffe3aa.dec52c","name":"to global variable","func":"global.set(\"out41\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":243.99776077270508,"y":324.0066041946411,"wires":[["6e0bc48f.bbe3cc"]]},{"id":"9a137b42.8ee6c8","type":"function","z":"2cffe3aa.dec52c","name":"to global variable","func":"global.set(\"out42\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":245.99776077270508,"y":383.0066041946411,"wires":[["6e0bc48f.bbe3cc"]]},{"id":"b38c5ce6.f094b","type":"function","z":"2cffe3aa.dec52c","name":"to global variable","func":"global.set(\"out43\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":240.99778366088867,"y":434.0066108703613,"wires":[["6e0bc48f.bbe3cc"]]},{"id":"6e0bc48f.bbe3cc","type":"function","z":"2cffe3aa.dec52c","name":"encorder","func":"var p40=global.get(\"out40\")||0;\nvar p41=global.get(\"out41\")||0;\nvar p42=global.get(\"out42\")||0;\nvar p43=global.get(\"out43\")||0;\nvar num=p40+p41*2+p42*4+p43*8;\nmsg.payload=\"00WSS0104%PW4000\"+num.toString(16);\nreturn msg;","outputs":1,"noerr":0,"x":459.0173530578613,"y":274.0104866027832,"wires":[["42fe9763.76eb18"]]},{"id":"f22e768f.55ecc8","type":"ui_text_input","z":"2cffe3aa.dec52c","name":"","label":"name (chipid)","tooltip":"","group":"7100f042.bf45a","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":244.07986450195312,"y":69.1736192703247,"wires":[["d428b6a.5e48448"]]},{"id":"bd13077e.e84658","type":"comment","z":"2cffe3aa.dec52c","name":"chipid","info":"통신하려는 D1 mini에 있는 chipid를 입력하세요\n26ceda","x":73.07296371459961,"y":72.61806583404541,"wires":[]},{"id":"d428b6a.5e48448","type":"function","z":"2cffe3aa.dec52c","name":"global variable","func":"global.set(\"chipid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":431.0695037841797,"y":69.7638931274414,"wires":[[]]},{"id":"1557acfe.c27fd3","type":"ui_text","z":"2cffe3aa.dec52c","group":"7100f042.bf45a","order":8,"width":0,"height":0,"name":"","label":"return msg","format":"{{msg.payload}}","layout":"row-spread","x":432.0695266723633,"y":533.9167537689209,"wires":[]},{"id":"ec374e63.d575f","type":"ui_text_input","z":"2cffe3aa.dec52c","name":"","label":"msg","tooltip":"","group":"7100f042.bf45a","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":80.08332443237305,"y":183.05214595794678,"wires":[["c32ddb4.02a4a28"]]},{"id":"569efef.aedeb","type":"ui_button","z":"2cffe3aa.dec52c","name":"","group":"7100f042.bf45a","order":7,"width":0,"height":0,"passthru":false,"label":"SEND MSG","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":357.00000762939453,"y":184.34379148483276,"wires":[["c074313f.3c83c"]]},{"id":"c32ddb4.02a4a28","type":"function","z":"2cffe3aa.dec52c","name":"","func":"global.set(\"sendMsg\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":208.07289505004883,"y":183.9826536178589,"wires":[[]]},{"id":"c074313f.3c83c","type":"function","z":"2cffe3aa.dec52c","name":"","func":"var chipid=global.get(\"chipid\");\nvar sendMsg=global.get(\"sendMsg\");\nvar newMsg={};\nnewMsg.payload={\"chipid\":chipid,\"act\":\"write\",\"comm\":sendMsg};\nreturn newMsg;","outputs":1,"noerr":0,"x":501.07991790771484,"y":184.97224807739258,"wires":[["6423ce28.d12c3"]]},{"id":"602658a0.be69e8","type":"comment","z":"2cffe3aa.dec52c","name":"Send Protocol  (Write Protocol)","info":"00RSS0104%PW0","x":145.06947326660156,"y":132.72569942474365,"wires":[]},{"id":"832aa8c4.c56978","type":"comment","z":"2cffe3aa.dec52c","name":"Send Button ","info":"","x":94.99999237060547,"y":228.0104217529297,"wires":[]},{"id":"59afb3b9.4300ec","type":"comment","z":"2cffe3aa.dec52c","name":"Return Message","info":"","x":110.07292175292969,"y":488.7257356643677,"wires":[]},{"id":"b4f0b15d.52ad4","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7100f042.bf45a","type":"ui_group","z":"","name":"PLC Testing","tab":"36bfb001.9ca11","disp":true,"width":"9","collapse":false},{"id":"36bfb001.9ca11","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]