2-26-2 LS PLC XGB XBM-DN32HP XG5000 Modbus TCPIP Read Input node red program/2-26-2 node red.txt
[{"id":"504deac.324d614","type":"ui_led","z":"b5c634b3.c39998","order":1,"group":"98738213.57e91","width":"2","height":"1","label":"A1","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A1","x":490,"y":220,"wires":[]},{"id":"db0648eb.5dd058","type":"function","z":"b5c634b3.c39998","name":"디코드","func":"//var dec = msg.payload.charAt(13);\nvar dec=msg.payload[10];\nvar bin = parseInt(dec).toString(2);\nbin=\"00000000\"+bin;\nbin = bin.slice(-8);\nmsg.payload=bin;\n\n//dec = msg.payload.charAt(12);\n//var bin1 = parseInt(dec).toString(2);\n//bin1=\"0000\"+bin1;\n//bin1 = bin1.slice(-4);\n\n//msg.payload=bin1+bin;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":148.9374885559082,"y":333.10755443573,"wires":[["24aa2ff6.2d02d"]]},{"id":"24aa2ff6.2d02d","type":"function","z":"b5c634b3.c39998","name":"","func":"var out=[];\nout.push({payload:msg.payload.charAt(7)});\nout.push({payload:msg.payload.charAt(6)});\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5],out[6],out[7]];\n","outputs":8,"noerr":0,"initialize":"","finalize":"","x":291.9930877685547,"y":333.96174812316895,"wires":[["504deac.324d614"],["a2b490ba.8e5c6"],["d35f6aaa.afce18"],["dfb7455c.d957c8"],["9c21bd21.f7076"],["fc4e597f.b4b378"],["4cde5b17.0b8964"],["5be1a498.9bcecc"]]},{"id":"a2b490ba.8e5c6","type":"ui_led","z":"b5c634b3.c39998","order":2,"group":"98738213.57e91","width":"2","height":"1","label":"B1","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B1","x":491.9375343322754,"y":262.10753631591797,"wires":[]},{"id":"d35f6aaa.afce18","type":"ui_led","z":"b5c634b3.c39998","order":3,"group":"98738213.57e91","width":"2","height":"1","label":"A2","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A2","x":491.9375343322754,"y":302.10753631591797,"wires":[]},{"id":"dfb7455c.d957c8","type":"ui_led","z":"b5c634b3.c39998","order":4,"group":"98738213.57e91","width":"2","height":"1","label":"B2","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B2","x":491.9375343322754,"y":341.1075668334961,"wires":[]},{"id":"9c21bd21.f7076","type":"ui_led","z":"b5c634b3.c39998","order":5,"group":"98738213.57e91","width":"2","height":"1","label":"A3","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A3","x":494.9375343322754,"y":380.1075668334961,"wires":[]},{"id":"fc4e597f.b4b378","type":"ui_led","z":"b5c634b3.c39998","order":6,"group":"98738213.57e91","width":"2","height":"1","label":"B3","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B3","x":493.9375343322754,"y":425.1075668334961,"wires":[]},{"id":"4cde5b17.0b8964","type":"ui_led","z":"b5c634b3.c39998","order":7,"group":"98738213.57e91","width":"2","height":"1","label":"A4","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A4","x":495,"y":469,"wires":[]},{"id":"5be1a498.9bcecc","type":"ui_led","z":"b5c634b3.c39998","order":8,"group":"98738213.57e91","width":"2","height":"1","label":"B4","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B4","x":495,"y":509,"wires":[]},{"id":"c33dff04.de2c7","type":"comment","z":"b5c634b3.c39998","name":"참조메뉴얼","info":"LS산전 “사용설명서_XGB FEnet_국문_V1.5.pdf”\n5-11 페이지\n9.4.2 입력 워드 일기 (04) ","x":120,"y":60,"wires":[]},{"id":"6270630c.8a1edc","type":"comment","z":"b5c634b3.c39998","name":"잠조유튜브","info":"먼저 볼 유튜브 : https://youtu.be/-qEY8kxrcs0\n\n참조 유튜브\nhttps://youtu.be/yR153KZJVno\nhttps://youtu.be/FiBQ_oskEmo","x":120,"y":240,"wires":[]},{"id":"b7b1bab2.187c68","type":"tcp request","z":"b5c634b3.c39998","server":"192.168.0.200","port":"502","out":"time","splitc":"0","name":"","x":383,"y":104,"wires":[["731d798f.57e9e8","db0648eb.5dd058","40c731a6.a405d"]]},{"id":"731d798f.57e9e8","type":"debug","z":"b5c634b3.c39998","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":602,"y":105,"wires":[]},{"id":"9c3c71ba.90d9b","type":"inject","z":"b5c634b3.c39998","name":"입력 워드 읽기-4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,0,0,6,10,4,0,0,0,1]","payloadType":"bin","x":173,"y":104,"wires":[["b7b1bab2.187c68"]]},{"id":"b2066d50.a6858","type":"ui_led","z":"b5c634b3.c39998","order":9,"group":"98738213.57e91","width":"2","height":"1","label":"A5","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A5","x":490,"y":580,"wires":[]},{"id":"40c731a6.a405d","type":"function","z":"b5c634b3.c39998","name":"디코드","func":"//var dec = msg.payload.charAt(13);\nvar dec=msg.payload[9];\nvar bin = parseInt(dec).toString(2);\nbin=\"00000000\"+bin;\nbin = bin.slice(-8);\nmsg.payload=bin;\n\n//dec = msg.payload.charAt(12);\n//var bin1 = parseInt(dec).toString(2);\n//bin1=\"0000\"+bin1;\n//bin1 = bin1.slice(-4);\n\n//msg.payload=bin1+bin;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":148.9374885559082,"y":693.10755443573,"wires":[["3462c18e.13654e"]]},{"id":"3462c18e.13654e","type":"function","z":"b5c634b3.c39998","name":"","func":"var out=[];\nout.push({payload:msg.payload.charAt(7)});\nout.push({payload:msg.payload.charAt(6)});\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5],out[6],out[7]];\n","outputs":8,"noerr":0,"initialize":"","finalize":"","x":291.9930877685547,"y":693.961748123169,"wires":[["b2066d50.a6858"],["f8204d19.12ee8"],["8d7e2282.ec11f"],["85875be2.2c9688"],["948e5f39.59b5a"],["b9e2f552.1e0f58"],["b4fa4533.78f938"],["3995ce69.e15b82"]]},{"id":"f8204d19.12ee8","type":"ui_led","z":"b5c634b3.c39998","order":10,"group":"98738213.57e91","width":"2","height":"1","label":"B5","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B5","x":491.9375343322754,"y":622.107536315918,"wires":[]},{"id":"8d7e2282.ec11f","type":"ui_led","z":"b5c634b3.c39998","order":11,"group":"98738213.57e91","width":"2","height":"1","label":"A6","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A6","x":491.9375343322754,"y":662.107536315918,"wires":[]},{"id":"85875be2.2c9688","type":"ui_led","z":"b5c634b3.c39998","order":12,"group":"98738213.57e91","width":"2","height":"1","label":"B6","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B6","x":491.9375343322754,"y":701.1075668334961,"wires":[]},{"id":"948e5f39.59b5a","type":"ui_led","z":"b5c634b3.c39998","order":13,"group":"98738213.57e91","width":"2","height":"1","label":"A7","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A7","x":494.9375343322754,"y":740.1075668334961,"wires":[]},{"id":"b9e2f552.1e0f58","type":"ui_led","z":"b5c634b3.c39998","order":14,"group":"98738213.57e91","width":"2","height":"1","label":"B7","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B7","x":493.9375343322754,"y":785.1075668334961,"wires":[]},{"id":"b4fa4533.78f938","type":"ui_led","z":"b5c634b3.c39998","order":15,"group":"98738213.57e91","width":"2","height":"1","label":"A8","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A8","x":495,"y":829,"wires":[]},{"id":"3995ce69.e15b82","type":"ui_led","z":"b5c634b3.c39998","order":16,"group":"98738213.57e91","width":"2","height":"1","label":"B8","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B8","x":495,"y":869,"wires":[]},{"id":"98738213.57e91","type":"ui_group","name":"PLC In","tab":"9cd22bcc.9dc608","order":1,"disp":true,"width":"8","collapse":false},{"id":"9cd22bcc.9dc608","type":"ui_tab","name":"입력 모니터","icon":"dashboard","order":1,"disabled":false,"hidden":false}]