2-0-10_Timer_TON_UI/2-0-10 Node-red Program.txt
[{"id":"63002ed8.7be9e","type":"serial request","z":"179f2c8b.a39993","name":"","serial":"8a31747.856ce88","x":641.0173492431641,"y":93.01046752929688,"wires":[["321dddb5.6af092"]]},{"id":"321dddb5.6af092","type":"debug","z":"179f2c8b.a39993","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":786.0694580078125,"y":92.57290649414062,"wires":[]},{"id":"75a12149.7e689","type":"function","z":"179f2c8b.a39993","name":"Write D1,M0","func":"var m0=global.get(\"m0\")||0;\nvar d1=global.get(\"d1\")||0;\nmsg.payload='\\u0005'+\"00WSS0206%DW001\"+d1+\"06%MW000\"+m0+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":437.0000305175781,"y":94.01040649414062,"wires":[["63002ed8.7be9e","9e40722d.692a5"]]},{"id":"5c64fe30.5ef89","type":"ui_switch","z":"179f2c8b.a39993","name":"","label":"M0","tooltip":"","group":"6200351e.7bc8cc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":127,"y":92,"wires":[["b1a4e62b.b3ba78"]]},{"id":"b1a4e62b.b3ba78","type":"function","z":"179f2c8b.a39993","name":"","func":"msg.payload='000'+msg.payload;\nglobal.set(\"m0\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":261,"y":91,"wires":[["75a12149.7e689"]]},{"id":"18a8b5ee.0b849a","type":"function","z":"179f2c8b.a39993","name":"","func":"var bin=msg.payload;\nbin=bin.toString(16);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nglobal.set(\"d1\",bin);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":150,"wires":[["75a12149.7e689"]]},{"id":"845801a6.16f4c","type":"ui_slider","z":"179f2c8b.a39993","name":"","label":"D1(0~100)","tooltip":"","group":"6200351e.7bc8cc","order":3,"width":"7","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":120,"y":149,"wires":[["18a8b5ee.0b849a","ed95af0e.cf3af"]]},{"id":"ed95af0e.cf3af","type":"ui_text","z":"179f2c8b.a39993","group":"6200351e.7bc8cc","order":4,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":269,"y":202,"wires":[]},{"id":"9e40722d.692a5","type":"debug","z":"179f2c8b.a39993","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":642,"y":196,"wires":[]},{"id":"8a31747.856ce88","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":"100"},{"id":"6200351e.7bc8cc","type":"ui_group","z":"","name":"PLC Testing","tab":"a4861a30.b27ed8","disp":true,"width":"9","collapse":false},{"id":"a4861a30.b27ed8","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]