2-0-5_serial_Dresister/2-0-5 Node-red Program.txt
[{"id":"fc1c671c.4cbe58","type":"function","z":"179f2c8b.a39993","name":"읽기 M","func":"msg.payload='\\u0005'+\"00RSS0106%DW000\"+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":263.0173683166504,"y":226.01045894622803,"wires":[["1c91b31.e29554d"]]},{"id":"1c91b31.e29554d","type":"serial request","z":"179f2c8b.a39993","name":"","serial":"8a31747.856ce88","x":420.0173530578613,"y":226.0104522705078,"wires":[["c8d7d26a.3cc98"]]},{"id":"c8d7d26a.3cc98","type":"debug","z":"179f2c8b.a39993","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":581.0173187255859,"y":228.01050853729248,"wires":[]},{"id":"241cd1da.e0db9e","type":"debug","z":"179f2c8b.a39993","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":713.0171890258789,"y":71.01032161712646,"wires":[]},{"id":"c04b3459.4037c8","type":"serial request","z":"179f2c8b.a39993","name":"","serial":"8a31747.856ce88","x":473.0172920227051,"y":73.01031398773193,"wires":[["241cd1da.e0db9e"]]},{"id":"aa1b6a9c.efde98","type":"inject","z":"179f2c8b.a39993","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":117.06940841674805,"y":225.96532440185547,"wires":[["fc1c671c.4cbe58"]]},{"id":"b971753b.569ec8","type":"inject","z":"179f2c8b.a39993","name":"","topic":"","payload":"101","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108.01737594604492,"y":128.01032066345215,"wires":[["3452e259.8cde2e"]]},{"id":"3452e259.8cde2e","type":"function","z":"179f2c8b.a39993","name":"쓰기 D0","func":"var bin=msg.payload;\nbin=bin.toString(16);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nmsg.payload='\\u0005'+\"00WSS0106%DW000\"+bin+'\\u0004'+'\\u000A'+'\\u000A';  \nreturn msg;","outputs":1,"noerr":0,"x":309.0173873901367,"y":73.01041984558105,"wires":[["c04b3459.4037c8"]]},{"id":"1f657868.cf28f8","type":"inject","z":"179f2c8b.a39993","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":103.0173568725586,"y":78.01041460037231,"wires":[["3452e259.8cde2e"]]},{"id":"e8cffc53.dfa5d","type":"inject","z":"179f2c8b.a39993","name":"","topic":"","payload":"102","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108.0173568725586,"y":174.0104217529297,"wires":[["3452e259.8cde2e"]]},{"id":"8a31747.856ce88","type":"serial-port","z":"","serialport":"COM14","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"100"}]