2-4-2_mqtt_plc/2-4-2_ mqtt_plc_nodered.txt
[{"id":"461e1316.5ddd8c","type":"function","z":"a65e6b86.f7ce78","name":"","func":"msg.payload = '\\u0005'+\"00WSS0104%PW4000\"+msg.payload+String.fromCharCode(4);\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":290.00001335144043,"wires":[["4ea09b3d.229764","829f3d23.c7a4a"]]},{"id":"ab8da3dd.a2d42","type":"ui_switch","z":"a65e6b86.f7ce78","name":"out40","label":"P40","group":"fc11adc8.37d56","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"out40","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":118.00009155273438,"y":54,"wires":[["6c8dbafc.a21e64"]]},{"id":"a5e7ca8b.50c008","type":"ui_switch","z":"a65e6b86.f7ce78","name":"","label":"P41","group":"fc11adc8.37d56","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":118.00008392333984,"y":107.00002098083496,"wires":[["dbf4122f.64691"]]},{"id":"72f1ce99.5419b","type":"ui_switch","z":"a65e6b86.f7ce78","name":"","label":"P42","group":"fc11adc8.37d56","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":116.00008392333984,"y":167.00002098083496,"wires":[["466a0ec2.de6ab"]]},{"id":"57074ef1.5e1bd","type":"ui_switch","z":"a65e6b86.f7ce78","name":"","label":"P44","group":"fc11adc8.37d56","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"8","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":115.00008392333984,"y":218.00002098083496,"wires":[["6b5091f8.e4ab6"]]},{"id":"3012808c.22265","type":"ui_numeric","z":"a65e6b86.f7ce78","name":"","label":"numeric","group":"fc11adc8.37d56","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"15","step":1,"x":123.00007629394531,"y":269.0000123977661,"wires":[["c892e5db.044b98"]]},{"id":"c892e5db.044b98","type":"function","z":"a65e6b86.f7ce78","name":"","func":"var dec = parseInt(msg.payload);\nmsg.payload = dec.toString(16);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":271.00010681152344,"y":295.0000247955322,"wires":[["461e1316.5ddd8c"]]},{"id":"39aba4ba.4f2adc","type":"ui_slider","z":"a65e6b86.f7ce78","name":"","label":"slider","group":"fc11adc8.37d56","order":6,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"15","step":1,"x":114.00007629394531,"y":317.0000419616699,"wires":[["c892e5db.044b98"]]},{"id":"4ea09b3d.229764","type":"mqtt out","z":"a65e6b86.f7ce78","name":"","topic":"/kdi6033/outTopic","qos":"","retain":"","broker":"890dca96.5d7ee8","x":670.055549621582,"y":290.68405055999756,"wires":[]},{"id":"502dea8c.1f80f4","type":"mqtt in","z":"a65e6b86.f7ce78","name":"","topic":"/kdi6033/inTopic","qos":"2","broker":"890dca96.5d7ee8","x":145.0555648803711,"y":369.70143032073975,"wires":[["5b9cf4c7.51f9fc"]]},{"id":"5b9cf4c7.51f9fc","type":"ui_text","z":"a65e6b86.f7ce78","group":"fc11adc8.37d56","order":8,"width":0,"height":0,"name":"","label":"¹ÞÀ½","format":"{{msg.payload}}","layout":"row-spread","x":307.0000190734863,"y":370.00002002716064,"wires":[]},{"id":"829f3d23.c7a4a","type":"ui_text","z":"a65e6b86.f7ce78","group":"fc11adc8.37d56","order":7,"width":0,"height":0,"name":"","label":"º¸³¿","format":"{{msg.payload}}","layout":"row-spread","x":649.98046875,"y":361.99610710144043,"wires":[]},{"id":"7a71b55e.a191cc","type":"function","z":"a65e6b86.f7ce78","name":"","func":"var p40=global.get(\"out40\");\nvar p41=global.get(\"out41\");\nvar p42=global.get(\"out42\");\nvar p43=global.get(\"out43\");\n\nvar dec = parseInt(p40+p41+p42+p43);\nmsg.payload = dec.toString(16);\nreturn msg;","outputs":1,"noerr":0,"x":467.98047637939453,"y":93.99610805511475,"wires":[["8b4788c8.542e98","461e1316.5ddd8c"]]},{"id":"6c8dbafc.a21e64","type":"function","z":"a65e6b86.f7ce78","name":"","func":"global.set(\"out40\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":260.98047637939453,"y":54.996108055114746,"wires":[["7a71b55e.a191cc"]]},{"id":"dbf4122f.64691","type":"function","z":"a65e6b86.f7ce78","name":"","func":"global.set(\"out41\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":259.98047637939453,"y":107.99610805511475,"wires":[["7a71b55e.a191cc"]]},{"id":"466a0ec2.de6ab","type":"function","z":"a65e6b86.f7ce78","name":"","func":"global.set(\"out42\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":261.98047637939453,"y":166.99610805511475,"wires":[["7a71b55e.a191cc"]]},{"id":"6b5091f8.e4ab6","type":"function","z":"a65e6b86.f7ce78","name":"","func":"global.set(\"out43\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":269.98047637939453,"y":217.99610805511475,"wires":[["7a71b55e.a191cc"]]},{"id":"8b4788c8.542e98","type":"debug","z":"a65e6b86.f7ce78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":632.9804763793945,"y":93.99610805511475,"wires":[]},{"id":"fc11adc8.37d56","type":"ui_group","z":"","name":"PLC Testing","tab":"47d75884.1b46a8","disp":true,"width":"4","collapse":false},{"id":"890dca96.5d7ee8","type":"mqtt-broker","z":"","name":"broker.mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"47d75884.1b46a8","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]