2-26-1 LS PLC XGB XBM-DN32HP XG5000 Modbus TCPIP Protocol node red program/2-26-1 node red.txt
[{"id":"233d8af2.e23f26","type":"debug","z":"2905c7dc.396c58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":120,"wires":[]},{"id":"9f941196.70fc3","type":"tcp request","z":"2905c7dc.396c58","server":"192.168.0.200","port":"502","out":"time","splitc":"0","name":"","x":420,"y":120,"wires":[["233d8af2.e23f26"]]},{"id":"d54b0520.ae2d08","type":"inject","z":"2905c7dc.396c58","name":"출력 비트 읽기-1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,0,0,6,10,1,0,0,0,16]","payloadType":"bin","x":180,"y":120,"wires":[["9f941196.70fc3"]]},{"id":"206fcf6a.6db15","type":"inject","z":"2905c7dc.396c58","name":"입력 비트 읽기-2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,0,0,6,10,2,0,0,0,20]","payloadType":"bin","x":180,"y":160,"wires":[["9f941196.70fc3"]]},{"id":"fc4f8694.601568","type":"inject","z":"2905c7dc.396c58","name":"출력 워드 읽기-3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,0,0,6,10,3,0,0,0,1]","payloadType":"bin","x":180,"y":200,"wires":[["9f941196.70fc3"]]},{"id":"e961e090.1364c","type":"inject","z":"2905c7dc.396c58","name":"입력 워드 읽기-4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,0,0,6,10,4,0,0,0,1]","payloadType":"bin","x":180,"y":240,"wires":[["9f941196.70fc3"]]},{"id":"654d3f89.d4b16","type":"inject","z":"2905c7dc.396c58","name":"출력비트쓰기-5   3번on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,0,0,6,10,5,0,5,255,0]","payloadType":"bin","x":200,"y":300,"wires":[["9f941196.70fc3"]]},{"id":"f8a64a2f.c7f098","type":"inject","z":"2905c7dc.396c58","name":"출력 워드 연속 쓰기 on - 15","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,0,0,6,10,15,0,0,0,16,2,255,255]","payloadType":"bin","x":220,"y":400,"wires":[["9f941196.70fc3"]]},{"id":"eaaa91eb.8080c","type":"inject","z":"2905c7dc.396c58","name":"출력비트쓰기-5 2번on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,0,0,6,10,5,0,2,255,0]","payloadType":"bin","x":200,"y":340,"wires":[["9f941196.70fc3"]]},{"id":"cbb87eb9.e17a6","type":"inject","z":"2905c7dc.396c58","name":"출력 워드 연속 쓰기 off - 15","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,0,0,6,10,15,0,0,0,16,2,0,0]","payloadType":"bin","x":220,"y":440,"wires":[["9f941196.70fc3"]]},{"id":"16357532.73f98b","type":"inject","z":"2905c7dc.396c58","name":"출력 워드 쓰기-6   on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,0,0,6,10,6,0,2,255,255]","payloadType":"bin","x":190,"y":500,"wires":[["9f941196.70fc3"]]},{"id":"9a7f1ddf.4fe8","type":"inject","z":"2905c7dc.396c58","name":"출력 워드 쓰기-6   off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,0,0,6,10,6,0,2,0,0]","payloadType":"bin","x":190,"y":540,"wires":[["9f941196.70fc3"]]}]