2-0-15 Conveyer Belt TON TOFF - RS485/2-0-15 Node-red Program.txt
[{"id":"92e8b2c9.6807a","type":"function","z":"6624d090.98dbb","name":"","func":"var bin=msg.payload;\nbin=bin.toString(16);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nglobal.set(\"d0\",bin);\nreturn msg;","outputs":1,"noerr":0,"x":261.00001525878906,"y":234.0000057220459,"wires":[[]]},{"id":"e189f2d3.c6e5a","type":"ui_slider","z":"6624d090.98dbb","name":"","label":"D0(0~10)","tooltip":"","group":"1460b362.f095ed","order":3,"width":"7","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"10","step":1,"x":111.00001525878906,"y":233.0000057220459,"wires":[["92e8b2c9.6807a","17d6ecca.5753c3"]]},{"id":"17d6ecca.5753c3","type":"ui_text","z":"6624d090.98dbb","group":"1460b362.f095ed","order":4,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":270.00001525878906,"y":286.0000057220459,"wires":[]},{"id":"f9d2161f.211438","type":"serial request","z":"6624d090.98dbb","name":"","serial":"71268d87.1aff94","x":438.01740646362305,"y":161.01043510437012,"wires":[["508bf2d7.10ffdc"]]},{"id":"89d93ce.299eac","type":"inject","z":"6624d090.98dbb","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":141.06939315795898,"y":159.9652853012085,"wires":[["f844be3b.1d28c"]]},{"id":"f844be3b.1d28c","type":"function","z":"6624d090.98dbb","name":"Read ","func":"msg.payload='\\u0005'+\"00RSS0106%PW004\"+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":286.017391204834,"y":161.010422706604,"wires":[["f9d2161f.211438"]]},{"id":"18233fb6.c980e","type":"ui_button","z":"6624d090.98dbb","name":"","group":"1460b362.f095ed","order":5,"width":0,"height":0,"passthru":false,"label":"리셋","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":108.08330917358398,"y":446.4583148956299,"wires":[["405113f3.99b44c"]]},{"id":"889e205b.e4824","type":"serial request","z":"6624d090.98dbb","name":"","serial":"71268d87.1aff94","x":449.0173683166504,"y":445.01040840148926,"wires":[["7c797719.e1e6c8"]]},{"id":"7c797719.e1e6c8","type":"delay","z":"6624d090.98dbb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":585.0764236450195,"y":444.28474044799805,"wires":[["b4fe36b1.9f3038"]]},{"id":"b4fe36b1.9f3038","type":"function","z":"6624d090.98dbb","name":"Write M2=0","func":"msg.payload='\\u0005'+\"00WSS0106%MX00200\"+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":424.01728439331055,"y":512.0103797912598,"wires":[["c86144d2.9388d8"]]},{"id":"c86144d2.9388d8","type":"serial request","z":"6624d090.98dbb","name":"","serial":"71268d87.1aff94","x":564.0172786712646,"y":510.01037979125977,"wires":[[]]},{"id":"405113f3.99b44c","type":"function","z":"6624d090.98dbb","name":"Write D0~d3,M2=1","func":"var d0=global.get(\"d0\")||0;\nvar d1=global.get(\"d1\")||0;\nvar d2=global.get(\"d2\")||0;\nvar d3=global.get(\"d3\")||0;\nmsg.payload='\\u0005'+\"00WSS0506%DW000\"+d0+\"06%DW001\"+d1+\"06%DW002\"+d2+\"06%DW003\"+d3+\"06%MX00201\"+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":279.01741790771484,"y":446.0104503631592,"wires":[["889e205b.e4824"]]},{"id":"27b1a496.86ac6c","type":"function","z":"6624d090.98dbb","name":"","func":"var bin=msg.payload;\nbin=bin.toString(16);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nglobal.set(\"d1\",bin);\nreturn msg;","outputs":1,"noerr":0,"x":594.017333984375,"y":241.0104217529297,"wires":[[]]},{"id":"4d2e2a0e.0eca64","type":"ui_slider","z":"6624d090.98dbb","name":"","label":"D1(0~10)","tooltip":"","group":"1460b362.f095ed","order":3,"width":"7","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"10","step":1,"x":444.017333984375,"y":240.0104217529297,"wires":[["27b1a496.86ac6c","62fdcda.5a9e534"]]},{"id":"62fdcda.5a9e534","type":"ui_text","z":"6624d090.98dbb","group":"1460b362.f095ed","order":4,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":603.017333984375,"y":293.0104217529297,"wires":[]},{"id":"a52cad83.29c29","type":"function","z":"6624d090.98dbb","name":"","func":"var bin=msg.payload;\nbin=bin.toString(16);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nglobal.set(\"d2\",bin);\nreturn msg;","outputs":1,"noerr":0,"x":262.0173645019531,"y":336.0104064941406,"wires":[[]]},{"id":"136f4be9.c30004","type":"ui_slider","z":"6624d090.98dbb","name":"","label":"D2(0~10)","tooltip":"","group":"1460b362.f095ed","order":3,"width":"7","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"10","step":1,"x":112.01736450195312,"y":335.0104064941406,"wires":[["a52cad83.29c29","4aad07fa.92c858"]]},{"id":"4aad07fa.92c858","type":"ui_text","z":"6624d090.98dbb","group":"1460b362.f095ed","order":4,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":271.0173645019531,"y":388.0104064941406,"wires":[]},{"id":"c584a60e.e8e588","type":"function","z":"6624d090.98dbb","name":"","func":"var bin=msg.payload;\nbin=bin.toString(16);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nglobal.set(\"d3\",bin);\nreturn msg;","outputs":1,"noerr":0,"x":590.017333984375,"y":338.0104064941406,"wires":[[]]},{"id":"8357599d.d70298","type":"ui_slider","z":"6624d090.98dbb","name":"","label":"D3(0~10)","tooltip":"","group":"1460b362.f095ed","order":3,"width":"7","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"10","step":1,"x":440.017333984375,"y":337.0104064941406,"wires":[["c584a60e.e8e588","1a15d8ba.71f2e7"]]},{"id":"1a15d8ba.71f2e7","type":"ui_text","z":"6624d090.98dbb","group":"1460b362.f095ed","order":4,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":599.017333984375,"y":390.0104064941406,"wires":[]},{"id":"f5e7b683.c933e8","type":"ui_led","z":"6624d090.98dbb","group":"1460b362.f095ed","order":8,"width":"","height":"","label":"p40","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p40","x":941.0173416137695,"y":130.01045608520508,"wires":[]},{"id":"508bf2d7.10ffdc","type":"function","z":"6624d090.98dbb","name":"2진수로 정리","func":"var dec = msg.payload.charAt(13);\nvar bin = parseInt(dec).toString(2);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nmsg.payload=bin;\nreturn msg;","outputs":1,"noerr":0,"x":593.9547882080078,"y":163.1180124282837,"wires":[["1256dd6f.634053"]]},{"id":"1256dd6f.634053","type":"function","z":"6624d090.98dbb","name":"decorder","func":"var out=[];\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3]];\n","outputs":4,"noerr":0,"x":753.0104293823242,"y":163.97220420837402,"wires":[["f5e7b683.c933e8"],["864f2f89.9df38"],["2b1b857e.d95fda"],["55fac5f2.06787c"]]},{"id":"864f2f89.9df38","type":"ui_led","z":"6624d090.98dbb","group":"1460b362.f095ed","order":9,"width":"","height":"","label":"p41","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p41","x":942.9548759460449,"y":172.11799240112305,"wires":[]},{"id":"2b1b857e.d95fda","type":"ui_led","z":"6624d090.98dbb","group":"1460b362.f095ed","order":10,"width":"","height":"","label":"p42","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p42","x":942.9548759460449,"y":212.11799240112305,"wires":[]},{"id":"55fac5f2.06787c","type":"ui_led","z":"6624d090.98dbb","group":"1460b362.f095ed","order":11,"width":"","height":"","label":"p43","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p43","x":942.9548759460449,"y":251.11802291870117,"wires":[]},{"id":"a6ff6d56.725c9","type":"comment","z":"6624d090.98dbb","name":"https://youtu.be/yR153KZJVno  (참조유튜브)","info":"이 부분은 위 유튜브를 참조하세요.\nhttps://youtu.be/yR153KZJVno","x":676.0694808959961,"y":98.5382022857666,"wires":[]},{"id":"1460b362.f095ed","type":"ui_group","z":"","name":"PLC Testing","tab":"232a2cf.e72a6d4","disp":true,"width":"9","collapse":false},{"id":"71268d87.1aff94","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"100","bin":"false","out":"time","addchar":"false","responsetimeout":"100"},{"id":"232a2cf.e72a6d4","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]