2-0-10_1_Timer_TON_UI_TimerRead/2-0-10-1 Node-red Program.txt
[{"id":"63002ed8.7be9e","type":"serial request","z":"179f2c8b.a39993","name":"","serial":"8a31747.856ce88","x":617.0173416137695,"y":181.0104751586914,"wires":[["321dddb5.6af092"]]},{"id":"321dddb5.6af092","type":"debug","z":"179f2c8b.a39993","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":768.0694961547852,"y":180.57291221618652,"wires":[]},{"id":"75a12149.7e689","type":"function","z":"179f2c8b.a39993","name":"Write D1,M0","func":"var m0=global.get(\"m0\")||0;\nvar d1=global.get(\"d1\")||0;\nmsg.payload='\\u0005'+\"00WSS0206%DW001\"+d1+\"06%MW000\"+m0+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":438.0000457763672,"y":178.01041221618652,"wires":[["63002ed8.7be9e"]]},{"id":"5c64fe30.5ef89","type":"ui_switch","z":"179f2c8b.a39993","name":"","label":"M0","tooltip":"","group":"6200351e.7bc8cc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":128.00001525878906,"y":176.0000057220459,"wires":[["b1a4e62b.b3ba78"]]},{"id":"b1a4e62b.b3ba78","type":"function","z":"179f2c8b.a39993","name":"","func":"msg.payload='000'+msg.payload;\nglobal.set(\"m0\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":262.00001525878906,"y":175.0000057220459,"wires":[["75a12149.7e689"]]},{"id":"18a8b5ee.0b849a","type":"function","z":"179f2c8b.a39993","name":"","func":"var bin=msg.payload;\nbin=bin.toString(16);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nglobal.set(\"d1\",bin);\nreturn msg;","outputs":1,"noerr":0,"x":261.00001525878906,"y":234.0000057220459,"wires":[["75a12149.7e689"]]},{"id":"845801a6.16f4c","type":"ui_slider","z":"179f2c8b.a39993","name":"","label":"D1(0~1000)","tooltip":"","group":"6200351e.7bc8cc","order":3,"width":"7","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"1000","step":1,"x":121.00001525878906,"y":233.0000057220459,"wires":[["18a8b5ee.0b849a","ed95af0e.cf3af"]]},{"id":"ed95af0e.cf3af","type":"ui_text","z":"179f2c8b.a39993","group":"6200351e.7bc8cc","order":4,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":270.00001525878906,"y":286.0000057220459,"wires":[]},{"id":"a3a3ef20.89ac9","type":"serial request","z":"179f2c8b.a39993","name":"","serial":"8a31747.856ce88","x":427.0173797607422,"y":89.01042652130127,"wires":[["2af83132.dc561e"]]},{"id":"8fb41bc9.8aa708","type":"inject","z":"179f2c8b.a39993","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":134.06936645507812,"y":87.96528053283691,"wires":[["ee122977.b3edf8"]]},{"id":"2af83132.dc561e","type":"function","z":"179f2c8b.a39993","name":"S Return Value","func":"var dec = msg.payload.charAt(10)+msg.payload.charAt(11)+msg.payload.charAt(12)+msg.payload.charAt(13);\nmsg.payload=parseInt( dec, 16 );\nreturn msg;","outputs":1,"noerr":0,"x":589.0172805786133,"y":89.01037979125977,"wires":[["bfde2953.13aff8"]]},{"id":"bfde2953.13aff8","type":"ui_text","z":"179f2c8b.a39993","group":"6200351e.7bc8cc","order":0,"width":0,"height":0,"name":"","label":"S Value","format":"{{msg.payload}}","layout":"row-spread","x":755.0798187255859,"y":88.24998092651367,"wires":[]},{"id":"ee122977.b3edf8","type":"function","z":"179f2c8b.a39993","name":"Read T97","func":"msg.payload='\\u0005'+\"00RSS0106%TW097\"+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":285.0173645019531,"y":89.01041412353516,"wires":[["a3a3ef20.89ac9"]]},{"id":"8a31747.856ce88","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"100","bin":"false","out":"time","addchar":"false","responsetimeout":"100"},{"id":"6200351e.7bc8cc","type":"ui_group","z":"","name":"PLC Testing","tab":"a4861a30.b27ed8","disp":true,"width":"9","collapse":false},{"id":"a4861a30.b27ed8","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]