2-26-4 LS PLC XGB XBM-DN32HP XG5000 Modbus TCPIP in & output node red program/2-26-4 node red.txt
[{"id":"14014fe.ee4e4b","type":"ui_led","z":"844d5a6a.6f4718","order":20,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"A1","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A1","x":490,"y":170,"wires":[]},{"id":"69ac8447.6fc6ec","type":"function","z":"844d5a6a.6f4718","name":"디코드","func":"//var dec = msg.payload.charAt(13);\nvar dec=msg.payload[10];\nvar bin = parseInt(dec).toString(2);\nbin=\"00000000\"+bin;\nbin = bin.slice(-8);\nmsg.payload=bin;\n\n//dec = msg.payload.charAt(12);\n//var bin1 = parseInt(dec).toString(2);\n//bin1=\"0000\"+bin1;\n//bin1 = bin1.slice(-4);\n\n//msg.payload=bin1+bin;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":148.9374885559082,"y":283.10755443573,"wires":[["e2163f16.13214"]]},{"id":"e2163f16.13214","type":"function","z":"844d5a6a.6f4718","name":"","func":"var out=[];\nout.push({payload:msg.payload.charAt(7)});\nout.push({payload:msg.payload.charAt(6)});\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5],out[6],out[7]];\n","outputs":8,"noerr":0,"initialize":"","finalize":"","x":291.9930877685547,"y":283.96174812316895,"wires":[["14014fe.ee4e4b"],["c7883698.9e0818"],["6c615294.92326c"],["14b6e37f.aaee4d"],["46b26a7d.851d84"],["7ef19c5a.6b86f4"],["46f304fe.1aeabc"],["f47c1b99.08c238"]]},{"id":"c7883698.9e0818","type":"ui_led","z":"844d5a6a.6f4718","order":21,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"B1","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B1","x":491.9375343322754,"y":212.10753631591797,"wires":[]},{"id":"6c615294.92326c","type":"ui_led","z":"844d5a6a.6f4718","order":22,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"A2","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A2","x":491.9375343322754,"y":252.10753631591797,"wires":[]},{"id":"14b6e37f.aaee4d","type":"ui_led","z":"844d5a6a.6f4718","order":23,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"B2","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B2","x":491.9375343322754,"y":291.1075668334961,"wires":[]},{"id":"46b26a7d.851d84","type":"ui_led","z":"844d5a6a.6f4718","order":24,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"A3","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A3","x":494.9375343322754,"y":330.1075668334961,"wires":[]},{"id":"7ef19c5a.6b86f4","type":"ui_led","z":"844d5a6a.6f4718","order":25,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"B3","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B3","x":493.9375343322754,"y":375.1075668334961,"wires":[]},{"id":"46f304fe.1aeabc","type":"ui_led","z":"844d5a6a.6f4718","order":26,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"A4","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A4","x":495,"y":419,"wires":[]},{"id":"f47c1b99.08c238","type":"ui_led","z":"844d5a6a.6f4718","order":27,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"B4","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B4","x":495,"y":459,"wires":[]},{"id":"5cd336f.7f1dac8","type":"comment","z":"844d5a6a.6f4718","name":"참조메뉴얼","info":"LS산전 “사용설명서_XGB FEnet_국문_V1.5.pdf”\n5-11 페이지\n9.4.2 입력 워드 일기 (04) ","x":120,"y":55,"wires":[]},{"id":"a4f97f8.f34018","type":"comment","z":"844d5a6a.6f4718","name":"잠조유튜브","info":"먼저 볼 유튜브 : https://youtu.be/-qEY8kxrcs0\n\n참조 유튜브\nhttps://youtu.be/yR153KZJVno\nhttps://youtu.be/FiBQ_oskEmo\nhttps://youtu.be/SWZJ4CXH7fQ","x":120,"y":190,"wires":[]},{"id":"de38f5a3.9674f8","type":"tcp request","z":"844d5a6a.6f4718","server":"192.168.0.200","port":"502","out":"time","splitc":"0","name":"","x":383,"y":99,"wires":[["69ac8447.6fc6ec","1485787f.ea35d8","cf9192f2.e62e1"]]},{"id":"faaeac0c.793d5","type":"inject","z":"844d5a6a.6f4718","name":"입력 워드 읽기-4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,0,0,6,10,4,0,0,0,1]","payloadType":"bin","x":173,"y":99,"wires":[["de38f5a3.9674f8"]]},{"id":"d1549c12.d9c6f","type":"ui_led","z":"844d5a6a.6f4718","order":28,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"A5","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A5","x":970,"y":170,"wires":[]},{"id":"1485787f.ea35d8","type":"function","z":"844d5a6a.6f4718","name":"디코드","func":"//var dec = msg.payload.charAt(13);\nvar dec=msg.payload[9];\nvar bin = parseInt(dec).toString(2);\nbin=\"00000000\"+bin;\nbin = bin.slice(-8);\nmsg.payload=bin;\n\n//dec = msg.payload.charAt(12);\n//var bin1 = parseInt(dec).toString(2);\n//bin1=\"0000\"+bin1;\n//bin1 = bin1.slice(-4);\n\n//msg.payload=bin1+bin;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":628.9374885559082,"y":283.10755443573,"wires":[["6079988.a636668"]]},{"id":"6079988.a636668","type":"function","z":"844d5a6a.6f4718","name":"","func":"var out=[];\nout.push({payload:msg.payload.charAt(7)});\nout.push({payload:msg.payload.charAt(6)});\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5],out[6],out[7]];\n","outputs":8,"noerr":0,"initialize":"","finalize":"","x":771.9930877685547,"y":283.96174812316895,"wires":[["d1549c12.d9c6f"],["b5717750.31ce68"],["d91d0ed4.fe56"],["18fceeea.0845f1"],["57aff72d.453fc8"],["72a1c87c.734a38"],["2efde618.b899ca"],["c2de533d.41c89"]]},{"id":"b5717750.31ce68","type":"ui_led","z":"844d5a6a.6f4718","order":29,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"B5","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B5","x":971.9375343322754,"y":212.10753631591797,"wires":[]},{"id":"d91d0ed4.fe56","type":"ui_led","z":"844d5a6a.6f4718","order":30,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"A6","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A6","x":971.9375343322754,"y":252.10753631591797,"wires":[]},{"id":"18fceeea.0845f1","type":"ui_led","z":"844d5a6a.6f4718","order":31,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"B6","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B6","x":971.9375343322754,"y":291.1075668334961,"wires":[]},{"id":"57aff72d.453fc8","type":"ui_led","z":"844d5a6a.6f4718","order":32,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"A7","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A7","x":974.9375343322754,"y":330.1075668334961,"wires":[]},{"id":"72a1c87c.734a38","type":"ui_led","z":"844d5a6a.6f4718","order":33,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"B7","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B7","x":973.9375343322754,"y":375.1075668334961,"wires":[]},{"id":"2efde618.b899ca","type":"ui_led","z":"844d5a6a.6f4718","order":34,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"A8","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"A8","x":975,"y":419,"wires":[]},{"id":"c2de533d.41c89","type":"ui_led","z":"844d5a6a.6f4718","order":35,"group":"5fa45a6.c58aca4","width":"2","height":"1","label":"B8","colorForValue":[{"color":"#808080","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"B8","x":975,"y":459,"wires":[]},{"id":"b452dd6c.a6617","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"A11","tooltip":"","group":"5fa45a6.c58aca4","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":534,"wires":[["91aa8e53.546f2"]]},{"id":"ac5e4b37.04c608","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"B11","tooltip":"","group":"5fa45a6.c58aca4","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":109.99999237060547,"y":587.000020980835,"wires":[["472c5c13.deadc4"]]},{"id":"67cdc700.1aeb48","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"A12","tooltip":"","group":"5fa45a6.c58aca4","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":107.99999237060547,"y":647.000020980835,"wires":[["12ddd789.a3ff58"]]},{"id":"df141829.30cc48","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"B12","tooltip":"","group":"5fa45a6.c58aca4","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":106.99999237060547,"y":698.000020980835,"wires":[["a416c1e4.2aaa4"]]},{"id":"91aa8e53.546f2","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i00\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":252.98038482666016,"y":534.9961080551147,"wires":[[]]},{"id":"472c5c13.deadc4","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i01\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":251.98038482666016,"y":587.9961080551147,"wires":[[]]},{"id":"12ddd789.a3ff58","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i02\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":253.98038482666016,"y":646.9961080551147,"wires":[[]]},{"id":"a416c1e4.2aaa4","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i03\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":256.06591033935547,"y":697.4826946258545,"wires":[[]]},{"id":"cf9192f2.e62e1","type":"function","z":"844d5a6a.6f4718","name":"출력 쓰기","func":"var change=global.get(\"change\") || 0;\nif(change==1) {\n    global.set(\"change\",0)\n\n    var i00=global.get(\"i00\")||0;\n    var i01=global.get(\"i01\")||0;\n    var i02=global.get(\"i02\")||0;\n    var i03=global.get(\"i03\")||0;\n    var i04=global.get(\"i04\")||0;\n    var i05=global.get(\"i05\")||0;\n    var i06=global.get(\"i06\")||0;\n    var i07=global.get(\"i07\")||0;\n    \n    var i10=global.get(\"i10\")||0;\n    var i11=global.get(\"i11\")||0;\n    var i12=global.get(\"i12\")||0;\n    var i13=global.get(\"i13\")||0;\n    var i14=global.get(\"i14\")||0;\n    var i15=global.get(\"i15\")||0;\n    var i16=global.get(\"i16\")||0;\n    var i17=global.get(\"i17\")||0;\n    \n    var buf=Buffer.from([0x00,0x01,0x00,0x00,0x00,0x06,0x0a,0x06,0x00,0x02,0x00,0x00]);\n    buf[11]=i00*1+i01*2+i02*4+i03*8+i04*16+i05*32+i06*64+i07*128;\n    buf[10]=i10*1+i11*2+i12*4+i13*8+i14*16+i15*32+i16*64+i17*128;\n    msg.payload=buf;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":99,"wires":[["875b02b5.65c45"]]},{"id":"b91d13a5.7bcd7","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"A13","tooltip":"","group":"5fa45a6.c58aca4","order":6,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":106.06591033935547,"y":757.4826946258545,"wires":[["e8c8bd3c.9f454"]]},{"id":"e8c8bd3c.9f454","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i04\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":255.13182830810547,"y":756.965368270874,"wires":[[]]},{"id":"ac83f1fb.006b7","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"B13","tooltip":"","group":"5fa45a6.c58aca4","order":7,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":106.06591033935547,"y":817.4826946258545,"wires":[["71ae126c.594b2c"]]},{"id":"71ae126c.594b2c","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i05\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":255.13182830810547,"y":816.965368270874,"wires":[[]]},{"id":"875b02b5.65c45","type":"tcp request","z":"844d5a6a.6f4718","server":"192.168.0.200","port":"502","out":"time","splitc":"0","name":"","x":797,"y":99,"wires":[[]]},{"id":"25136f67.a06ad","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"A14","tooltip":"","group":"5fa45a6.c58aca4","order":8,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":874,"wires":[["b0556309.28ca"]]},{"id":"b0556309.28ca","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i06\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":259.06591796875,"y":873.4826736450195,"wires":[[]]},{"id":"ba85e25f.ccc39","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"B14","tooltip":"","group":"5fa45a6.c58aca4","order":9,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":934,"wires":[["950c9740.2319b8"]]},{"id":"950c9740.2319b8","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i07\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":259.06591796875,"y":933.4826736450195,"wires":[[]]},{"id":"13a6ccb0.887ea3","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"A15","tooltip":"","group":"5fa45a6.c58aca4","order":10,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":420,"y":534,"wires":[["a9022b0c.6c25a8"]]},{"id":"97ac059c.3f0c28","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"B15","tooltip":"","group":"5fa45a6.c58aca4","order":11,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":419.99999237060547,"y":587.000020980835,"wires":[["4449d2b4.a6e69c"]]},{"id":"9bb6c03f.dcdf9","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"A16","tooltip":"","group":"5fa45a6.c58aca4","order":12,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":417.99999237060547,"y":647.000020980835,"wires":[["ce5efc46.5c879"]]},{"id":"b4be6f71.949b8","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"B16","tooltip":"","group":"5fa45a6.c58aca4","order":13,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":416.99999237060547,"y":698.000020980835,"wires":[["af1c2c4a.6772d"]]},{"id":"a9022b0c.6c25a8","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i10\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":562.9803848266602,"y":534.9961080551147,"wires":[[]]},{"id":"4449d2b4.a6e69c","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i11\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":561.9803848266602,"y":587.9961080551147,"wires":[[]]},{"id":"ce5efc46.5c879","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i12\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":563.9803848266602,"y":646.9961080551147,"wires":[[]]},{"id":"af1c2c4a.6772d","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i13\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":566.0659103393555,"y":697.4826946258545,"wires":[[]]},{"id":"52b83068.a2e99","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"A17","tooltip":"","group":"5fa45a6.c58aca4","order":14,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":416.06591033935547,"y":757.4826946258545,"wires":[["52aa095e.ca2d58"]]},{"id":"52aa095e.ca2d58","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i14\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":565.1318283081055,"y":756.965368270874,"wires":[[]]},{"id":"263f8a4d.352746","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"B17","tooltip":"","group":"5fa45a6.c58aca4","order":15,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":416.06591033935547,"y":817.4826946258545,"wires":[["34f74481.91045c"]]},{"id":"34f74481.91045c","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i15\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":565.1318283081055,"y":816.965368270874,"wires":[[]]},{"id":"6cdd88fc.bdc128","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"A18","tooltip":"","group":"5fa45a6.c58aca4","order":16,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":420,"y":874,"wires":[["ffa63f4f.1a183"]]},{"id":"ffa63f4f.1a183","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i16\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":569.06591796875,"y":873.4826736450195,"wires":[[]]},{"id":"6983a5f6.8733dc","type":"ui_switch","z":"844d5a6a.6f4718","name":"","label":"B18","tooltip":"","group":"5fa45a6.c58aca4","order":17,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":420,"y":934,"wires":[["20df0d6e.d4daa2"]]},{"id":"20df0d6e.d4daa2","type":"function","z":"844d5a6a.6f4718","name":"","func":"global.set(\"change\",1);\nglobal.set(\"i17\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":569.06591796875,"y":933.4826736450195,"wires":[[]]},{"id":"db1117f9.ab6d48","type":"ui_template","z":"844d5a6a.6f4718","group":"5fa45a6.c58aca4","name":"출력 template","order":1,"width":0,"height":0,"format":"출력 스위치","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":534,"wires":[[]]},{"id":"b0abff4b.f4ac","type":"ui_template","z":"844d5a6a.6f4718","group":"5fa45a6.c58aca4","name":"","order":19,"width":0,"height":0,"format":"입력 Led","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":760,"y":594,"wires":[[]]},{"id":"5fa45a6.c58aca4","type":"ui_group","name":"PLC in & out","tab":"39ce0b59.e75404","order":1,"disp":true,"width":"9","collapse":false},{"id":"39ce0b59.e75404","type":"ui_tab","name":"입출력 모니터","icon":"dashboard","order":4,"disabled":false,"hidden":false}]