2-0-4_serial_Mresister/2-0-4 유선 RS485  PLC M resiter Node-red Program.txt
[{"id":"fa7b7a3c.38ca38","type":"function","z":"6f72b847.b081a8","name":"읽기 M","func":"msg.payload='\\u0005'+\"00RSS0104%MW0\"+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":281.02324295043945,"y":217.9931468963623,"wires":[["64319e8c.09278"]]},{"id":"64319e8c.09278","type":"serial request","z":"6f72b847.b081a8","name":"","serial":"b1c44d6a.3a778","x":428.0232276916504,"y":217.9931402206421,"wires":[["e9865154.6d161"]]},{"id":"e9865154.6d161","type":"debug","z":"6f72b847.b081a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":599.023193359375,"y":219.99319648742676,"wires":[]},{"id":"257596f3.5c51fa","type":"debug","z":"6f72b847.b081a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":632.023078918457,"y":75.99304866790771,"wires":[]},{"id":"7f240b68.303154","type":"serial request","z":"6f72b847.b081a8","name":"","serial":"b1c44d6a.3a778","x":469.0231704711914,"y":74.99303913116455,"wires":[["257596f3.5c51fa"]]},{"id":"46ac903a.b394a","type":"inject","z":"6f72b847.b081a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135.0752830505371,"y":217.94801235198975,"wires":[["fa7b7a3c.38ca38"]]},{"id":"9d6f7d4a.3286","type":"function","z":"6f72b847.b081a8","name":"쓰기 M0=0","func":"msg.payload='\\u0005'+\"00WSS0104%MW00000\"+'\\u0004'+'\\u000A'+'\\u000A';  \nreturn msg;","outputs":1,"noerr":0,"x":288.0232238769531,"y":76.9930648803711,"wires":[["7f240b68.303154"]]},{"id":"ad1598ed.ff1b18","type":"inject","z":"6f72b847.b081a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127.02325439453125,"y":75.99306106567383,"wires":[["9d6f7d4a.3286"]]},{"id":"603b40a1.233ee","type":"function","z":"6f72b847.b081a8","name":"쓰기 M0=1","func":"msg.payload='\\u0005'+\"00WSS0104%MW00001\"+'\\u0004'+'\\u000A'+'\\u000A';  \nreturn msg;","outputs":1,"noerr":0,"x":285.0232238769531,"y":130.99304962158203,"wires":[["7f240b68.303154"]]},{"id":"4d2a0300.bc517c","type":"inject","z":"6f72b847.b081a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":124.02325439453125,"y":129.99304580688477,"wires":[["603b40a1.233ee"]]},{"id":"b1c44d6a.3a778","type":"serial-port","z":"","serialport":"COM14","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"1000"}]