2-26-3 LS PLC XGB XBM-DN32HP XG5000 Modbus TCPIP Write output node red program/2-26-3 node red.txt
[{"id":"42788a51.ad3fc4","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"A11","tooltip":"","group":"5d1b7528.7326dc","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":140,"wires":[["8c7cbed8.88cf6"]]},{"id":"209e2ef.c87ead2","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"B11","tooltip":"","group":"5d1b7528.7326dc","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":109.99999237060547,"y":193.00002098083496,"wires":[["11e8fd46.7596d3"]]},{"id":"df21cd3e.c1e9a","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"A12","tooltip":"","group":"5d1b7528.7326dc","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":107.99999237060547,"y":253.00002098083496,"wires":[["614f5ffa.5555f"]]},{"id":"3f57a5c5.c071ba","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"B12","tooltip":"","group":"5d1b7528.7326dc","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":106.99999237060547,"y":304.00002098083496,"wires":[["a3c061a7.2c364"]]},{"id":"8c7cbed8.88cf6","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i00\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":252.98038482666016,"y":140.99610805511475,"wires":[["a9b0aae1.01d9b8"]]},{"id":"11e8fd46.7596d3","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i01\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":251.98038482666016,"y":193.99610805511475,"wires":[["5e54862c.2b8be8"]]},{"id":"614f5ffa.5555f","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i02\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":253.98038482666016,"y":252.99610805511475,"wires":[["95642e52.8aba7"]]},{"id":"a3c061a7.2c364","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i03\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":256.06591033935547,"y":303.4826946258545,"wires":[["e9458645.015178"]]},{"id":"b9b6f6f6.b99c88","type":"function","z":"49df3e86.bfdc","name":"쓰기","func":"var i00=global.get(\"i00\")||0;\nvar i01=global.get(\"i01\")||0;\nvar i02=global.get(\"i02\")||0;\nvar i03=global.get(\"i03\")||0;\nvar i04=global.get(\"i04\")||0;\nvar i05=global.get(\"i05\")||0;\nvar i06=global.get(\"i06\")||0;\nvar i07=global.get(\"i07\")||0;\n\nvar i10=global.get(\"i10\")||0;\nvar i11=global.get(\"i11\")||0;\nvar i12=global.get(\"i12\")||0;\nvar i13=global.get(\"i13\")||0;\nvar i14=global.get(\"i14\")||0;\nvar i15=global.get(\"i15\")||0;\nvar i16=global.get(\"i16\")||0;\nvar i17=global.get(\"i17\")||0;\n\nvar buf=Buffer.from([0x00,0x01,0x00,0x00,0x00,0x06,0x09,0x06,0x00,0x02,0x00,0x00]);\nbuf[11]=i00*1+i01*2+i02*4+i03*8+i04*16+i05*32+i06*64+i07*128;\nbuf[10]=i10*1+i11*2+i12*4+i13*8+i14*16+i15*32+i16*64+i17*128;\nmsg.payload=buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":60,"wires":[["8bd6c2ae.d92af"]]},{"id":"c42e65a4.f18fe8","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"A13","tooltip":"","group":"5d1b7528.7326dc","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":106.06591033935547,"y":363.4826946258545,"wires":[["ad31db8e.0e6728"]]},{"id":"ad31db8e.0e6728","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i04\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":255.13182830810547,"y":362.965368270874,"wires":[["e6e9ad35.a98c6"]]},{"id":"f157c130.9f3fb","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"B13","tooltip":"","group":"5d1b7528.7326dc","order":6,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":106.06591033935547,"y":423.4826946258545,"wires":[["c6f1a735.683558"]]},{"id":"c6f1a735.683558","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i05\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":255.13182830810547,"y":422.965368270874,"wires":[["d98ce05.5c2c62"]]},{"id":"8bd6c2ae.d92af","type":"tcp request","z":"49df3e86.bfdc","server":"192.168.0.200","port":"502","out":"time","splitc":"0","name":"","x":720,"y":60,"wires":[[]]},{"id":"52d88fee.0d991","type":"inject","z":"49df3e86.bfdc","name":"출력 워드 쓰기-6   on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,0,0,6,10,6,0,2,0,1]","payloadType":"bin","x":210,"y":60,"wires":[[]]},{"id":"b0e041fb.1498d","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"A14","tooltip":"","group":"5d1b7528.7326dc","order":7,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":480,"wires":[["e10a9379.acb15"]]},{"id":"e10a9379.acb15","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i06\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":259.06591796875,"y":479.48267364501953,"wires":[["c51ab45d.122ae8"]]},{"id":"3359dac6.32e736","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"B14","tooltip":"","group":"5d1b7528.7326dc","order":8,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":540,"wires":[["b8df00d5.5f619"]]},{"id":"b8df00d5.5f619","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i07\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":259.06591796875,"y":539.4826736450195,"wires":[["8f79fdd7.8e781"]]},{"id":"12ed0fe8.ea40b","type":"link in","z":"49df3e86.bfdc","name":"","links":["a9b0aae1.01d9b8","5e54862c.2b8be8","95642e52.8aba7","e9458645.015178","e6e9ad35.a98c6","d98ce05.5c2c62","c51ab45d.122ae8","8f79fdd7.8e781","33f5fbb.0637004","1daa125e.aeafbe","c39bbdba.5a626","64059775.04a9d8","3de550.46fabab","350bfea3.327102","67d582a6.5f322c","4228c422.aaf9dc"],"x":435,"y":60,"wires":[["b9b6f6f6.b99c88"]]},{"id":"a9b0aae1.01d9b8","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":355,"y":140,"wires":[]},{"id":"5e54862c.2b8be8","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":355,"y":194,"wires":[]},{"id":"95642e52.8aba7","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":354,"y":253,"wires":[]},{"id":"e9458645.015178","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":356,"y":303,"wires":[]},{"id":"e6e9ad35.a98c6","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":356,"y":363,"wires":[]},{"id":"d98ce05.5c2c62","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":355,"y":423,"wires":[]},{"id":"c51ab45d.122ae8","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":355,"y":480,"wires":[]},{"id":"8f79fdd7.8e781","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":355,"y":540,"wires":[]},{"id":"aabc464d.d3aa98","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"A15","tooltip":"","group":"5d1b7528.7326dc","order":9,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":510,"y":140,"wires":[["5b3109ff.555448"]]},{"id":"379150c0.2500d","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"B15","tooltip":"","group":"5d1b7528.7326dc","order":10,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":509.99999237060547,"y":193.00002098083496,"wires":[["ad692fe0.2faf7"]]},{"id":"bddf9242.27b4c","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"A16","tooltip":"","group":"5d1b7528.7326dc","order":11,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":507.99999237060547,"y":253.00002098083496,"wires":[["27773fa3.374dc"]]},{"id":"19b68b28.d66315","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"B16","tooltip":"","group":"5d1b7528.7326dc","order":12,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":506.99999237060547,"y":304.00002098083496,"wires":[["c8f7c286.0a383"]]},{"id":"5b3109ff.555448","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i10\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":652.9803848266602,"y":140.99610805511475,"wires":[["33f5fbb.0637004"]]},{"id":"ad692fe0.2faf7","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i11\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":651.9803848266602,"y":193.99610805511475,"wires":[["1daa125e.aeafbe"]]},{"id":"27773fa3.374dc","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i12\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":653.9803848266602,"y":252.99610805511475,"wires":[["c39bbdba.5a626"]]},{"id":"c8f7c286.0a383","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i13\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0659103393555,"y":303.4826946258545,"wires":[["64059775.04a9d8"]]},{"id":"aef93283.44777","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"A17","tooltip":"","group":"5d1b7528.7326dc","order":13,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":506.06591033935547,"y":363.4826946258545,"wires":[["70fe002e.7088"]]},{"id":"70fe002e.7088","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i14\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":655.1318283081055,"y":362.965368270874,"wires":[["3de550.46fabab"]]},{"id":"bc614ac5.0fcd98","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"B17","tooltip":"","group":"5d1b7528.7326dc","order":14,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":506.06591033935547,"y":423.4826946258545,"wires":[["295d33cc.5ae14c"]]},{"id":"295d33cc.5ae14c","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i15\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":655.1318283081055,"y":422.965368270874,"wires":[["350bfea3.327102"]]},{"id":"1fe13b16.9a2fd5","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"A18","tooltip":"","group":"5d1b7528.7326dc","order":15,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":510,"y":480,"wires":[["5bb982da.af692c"]]},{"id":"5bb982da.af692c","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i16\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.06591796875,"y":479.48267364501953,"wires":[["67d582a6.5f322c"]]},{"id":"d8984f39.a9114","type":"ui_switch","z":"49df3e86.bfdc","name":"","label":"B18","tooltip":"","group":"5d1b7528.7326dc","order":16,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":510,"y":540,"wires":[["307378a9.00aea8"]]},{"id":"307378a9.00aea8","type":"function","z":"49df3e86.bfdc","name":"","func":"global.set(\"i17\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.06591796875,"y":539.4826736450195,"wires":[["4228c422.aaf9dc"]]},{"id":"33f5fbb.0637004","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":755,"y":140,"wires":[]},{"id":"1daa125e.aeafbe","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":755,"y":194,"wires":[]},{"id":"c39bbdba.5a626","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":754,"y":253,"wires":[]},{"id":"64059775.04a9d8","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":756,"y":303,"wires":[]},{"id":"3de550.46fabab","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":756,"y":363,"wires":[]},{"id":"350bfea3.327102","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":755,"y":423,"wires":[]},{"id":"67d582a6.5f322c","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":755,"y":480,"wires":[]},{"id":"4228c422.aaf9dc","type":"link out","z":"49df3e86.bfdc","name":"","links":["12ed0fe8.ea40b"],"x":755,"y":540,"wires":[]},{"id":"5d1b7528.7326dc","type":"ui_group","name":"PLC Out","tab":"37141650.f9ad3a","order":1,"disp":true,"width":"9","collapse":false},{"id":"37141650.f9ad3a","type":"ui_tab","name":"출력제어","icon":"dashboard","order":0,"disabled":false,"hidden":false}]