2-8 plc_mqtt_web_All/2-8 node-red program.txt
[{"id":"6a942d5.cd52dd4","type":"mqtt in","z":"2cffe3aa.dec52c","name":"","topic":"/i2r_plc/inTopic","qos":"2","broker":"b4f0b15d.52ad4","x":120.08336639404297,"y":180.81947898864746,"wires":[["7dea31b4.c22d","3c625c13.745af4"]]},{"id":"6423ce28.d12c3","type":"mqtt out","z":"2cffe3aa.dec52c","name":"","topic":"/i2r_plc/outTopic","qos":"","retain":"","broker":"b4f0b15d.52ad4","x":571.0833320617676,"y":78.50001430511475,"wires":[]},{"id":"cb06f74c.cfa788","type":"debug","z":"2cffe3aa.dec52c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":452.08338165283203,"y":227.56259727478027,"wires":[]},{"id":"13ba5699.e7c639","type":"inject","z":"2cffe3aa.dec52c","name":"","topic":"","payload":"00WSS0104%PW4000f","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170.0694351196289,"y":77.97222328186035,"wires":[["42fe9763.76eb18"]]},{"id":"42fe9763.76eb18","type":"function","z":"2cffe3aa.dec52c","name":"","func":"var newMsg={};\nnewMsg.payload={\"chipid\":'26ceda',\"act\":\"write\",\"comm\":msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":363.06947326660156,"y":77.75000953674316,"wires":[["6423ce28.d12c3"]]},{"id":"7dea31b4.c22d","type":"string","z":"2cffe3aa.dec52c","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":303.0799903869629,"y":227.40282821655273,"wires":[["cb06f74c.cfa788"]]},{"id":"3c625c13.745af4","type":"debug","z":"2cffe3aa.dec52c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":323.07994079589844,"y":182.1215705871582,"wires":[]},{"id":"698fc920.fa7578","type":"inject","z":"2cffe3aa.dec52c","name":"","topic":"","payload":"00WSS0104%PW40000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":174.01734924316406,"y":125.01041460037231,"wires":[["42fe9763.76eb18"]]},{"id":"b4f0b15d.52ad4","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]