2-12 wifi_plc/plc09_AwsMqtt/node-red(plc09).txt
[{"id":"65c4fb65.e4c764","type":"mqtt out","z":"3b0750.635428b","name":"","topic":"/plc08/inTopic","qos":"0","retain":"false","broker":"24c4ef9d.ad313","x":874,"y":400,"wires":[]},{"id":"95809d5b.d5609","type":"ui_switch","z":"3b0750.635428b","name":"","label":"P40","tooltip":"","group":"86de085a.657798","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"out\":0,\"value\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"out\":0,\"value\":0}","offvalueType":"json","officon":"","offcolor":"","x":133,"y":280,"wires":[["b0cf9c7b.5c301"]]},{"id":"47927570.65442c","type":"ui_switch","z":"3b0750.635428b","name":"","label":"P41","tooltip":"","group":"86de085a.657798","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"out\":1,\"value\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"out\":1,\"value\":0}","offvalueType":"json","officon":"","offcolor":"","x":132.99999237060547,"y":338.00002098083496,"wires":[["b0cf9c7b.5c301"]]},{"id":"7a831f51.a8b9d","type":"ui_switch","z":"3b0750.635428b","name":"","label":"P42","tooltip":"","group":"86de085a.657798","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"out\":2,\"value\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"out\":2,\"value\":0}","offvalueType":"json","officon":"","offcolor":"","x":130.99999237060547,"y":398.00002098083496,"wires":[["b0cf9c7b.5c301"]]},{"id":"1b37884d.32c238","type":"ui_switch","z":"3b0750.635428b","name":"","label":"P43","tooltip":"","group":"86de085a.657798","order":6,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"out\":3,\"value\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"out\":3,\"value\":0}","offvalueType":"json","officon":"","offcolor":"","x":129.99999237060547,"y":449.00002098083496,"wires":[["b0cf9c7b.5c301"]]},{"id":"5d2ec181.b9187","type":"mqtt in","z":"3b0750.635428b","name":"","topic":"/plc08/outTopic","qos":"0","datatype":"auto","broker":"24c4ef9d.ad313","x":160,"y":540,"wires":[["4351067b.19d838","bb7e757c.8884f8"]]},{"id":"267209ff.617256","type":"ui_led","z":"3b0750.635428b","group":"86de085a.657798","order":7,"width":"","height":"","label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"p00","x":731,"y":660,"wires":[]},{"id":"67df8956.5b5db8","type":"ui_led","z":"3b0750.635428b","group":"86de085a.657798","order":8,"width":"","height":"","label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"p01","x":731,"y":700,"wires":[]},{"id":"2010a4c4.59f89c","type":"ui_led","z":"3b0750.635428b","group":"86de085a.657798","order":9,"width":"","height":"","label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"p02","x":731,"y":740,"wires":[]},{"id":"112a9eae.b9f701","type":"ui_led","z":"3b0750.635428b","group":"86de085a.657798","order":10,"width":"","height":"","label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"p03","x":731,"y":780,"wires":[]},{"id":"25ecc427.32c17c","type":"ui_led","z":"3b0750.635428b","group":"86de085a.657798","order":11,"width":"","height":"","label":"p04","colorForValue":[{"color":"gray","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"p04","x":731,"y":820,"wires":[]},{"id":"40631482.62bd8c","type":"ui_led","z":"3b0750.635428b","group":"86de085a.657798","order":12,"width":"","height":"","label":"p05","colorForValue":[{"color":"gray","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"p05","x":731,"y":860,"wires":[]},{"id":"ad9d9b90.775628","type":"ui_dropdown","z":"3b0750.635428b","name":"","label":"","tooltip":"","place":"Select option","group":"86de085a.657798","order":1,"width":"5","height":"1","passthru":true,"options":[],"payload":"","topic":"","x":700,"y":220,"wires":[["dc3b9263.ae9bb"]]},{"id":"dc3b9263.ae9bb","type":"function","z":"3b0750.635428b","name":"","func":"global.set(\"chip\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":831,"y":220,"wires":[[]]},{"id":"b5ea2599.cfa3d8","type":"function","z":"3b0750.635428b","name":"findOne","func":"global.set(\"inPlc\",msg.payload);\nglobal.set(\"inChip\",msg.payload.chipid);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = {'chip':msg.payload.chipid};\nreturn newMsg;","outputs":1,"noerr":0,"x":456,"y":540,"wires":[["d0873658.7b1048"]]},{"id":"d0873658.7b1048","type":"mongodb2 in","z":"3b0750.635428b","service":"_ext_","configNode":"4948a680.929518","name":"local","collection":"","operation":"","x":586,"y":540,"wires":[["ed9afc7.d1b02"]]},{"id":"aef89b97.7c7d08","type":"mongodb2 in","z":"3b0750.635428b","service":"_ext_","configNode":"4948a680.929518","name":"local","collection":"","operation":"","x":941,"y":540,"wires":[["d9b60ef2.c6e6e"]]},{"id":"4351067b.19d838","type":"json","z":"3b0750.635428b","name":"","property":"payload","action":"","pretty":false,"x":326,"y":540,"wires":[["b5ea2599.cfa3d8"]]},{"id":"ed9afc7.d1b02","type":"function","z":"3b0750.635428b","name":"null=insert, is=update","func":"var inPlc=global.get(\"inPlc\")||\"\";\nvar chipid=global.get(\"inChip\")||\"\";\nvar time = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\nvar outValue=[0,0,0,0];\nvar inValue=[0,0,0,0,0,0];\nvar newMsg = {};\nif(msg.payload==null) {\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'insert';\n    newMsg.payload    = {'email':'','chip':chipid, 'type':1, 'p4':outValue, 'p0':inValue, 'time': time};\n    return newMsg;\n}\nelse {\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'findOneAndUpdate';\n    \n    var hex=inPlc.p0;    \n    var dec16=parseInt(hex, 16);\n    var dec=dec16.toString(10);\n    var bin = parseInt(dec).toString(2);\n    bin=\"00000000\"+bin;\n    bin = bin.slice(-8);\n    inValue[0]=parseInt(bin.charAt(7));\n    inValue[1]=parseInt(bin.charAt(6));\n    inValue[2]=parseInt(bin.charAt(5));\n    inValue[3]=parseInt(bin.charAt(4));\n    inValue[4]=parseInt(bin.charAt(3));\n    inValue[5]=parseInt(bin.charAt(2));\n    \n    newMsg.payload    = [{'chip' : chipid}, {$set:{'p0':inValue,'time': time}} ];\n    return newMsg;\n}\n","outputs":1,"noerr":0,"x":763,"y":540,"wires":[["aef89b97.7c7d08"]]},{"id":"fa670976.e3b6c8","type":"comment","z":"3b0750.635428b","name":"node-red ui에서 plc제어 사이트 참조","info":"https://www.youtube.com/watch?v=-kPMVnDh1Oc&feature=youtu.be","x":220,"y":120,"wires":[]},{"id":"9e194e98.84e4d","type":"comment","z":"3b0750.635428b","name":"MongoDB를 이용한 PLC 제어 6-3-1-2","info":"","x":230,"y":76,"wires":[]},{"id":"42a8904e.6b22e","type":"comment","z":"3b0750.635428b","name":"monogoDB 기초함수 사이트 참조","info":"https://youtu.be/JfJ8t_6Eq0k","x":530,"y":80,"wires":[]},{"id":"b0cf9c7b.5c301","type":"function","z":"3b0750.635428b","name":"findOneAndUpdate","func":"var chip=global.get(\"chip\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nif(msg.payload.out==0)\n    newMsg.payload    = [{ 'chip' : chip}, {$set:{ 'p4.0':msg.payload.value}} ];\nelse if(msg.payload.out==1)\n    newMsg.payload    = [{ 'chip' : chip}, {$set:{ 'p4.1':msg.payload.value}} ];\nelse if(msg.payload.out==2)\n    newMsg.payload    = [{ 'chip' : chip}, {$set:{ 'p4.2':msg.payload.value}} ];\nelse if(msg.payload.out==3)\n    newMsg.payload    = [{ 'chip' : chip}, {$set:{ 'p4.3':msg.payload.value}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":293,"y":280,"wires":[["1e8b48d3.04b1f7"]]},{"id":"1e8b48d3.04b1f7","type":"mongodb2 in","z":"3b0750.635428b","service":"_ext_","configNode":"e9faa26.96d1a6","name":"local","collection":"","operation":"","x":453,"y":280,"wires":[["4f2d0ec2.91cbc"]]},{"id":"3c75b9b8.0b3366","type":"function","z":"3b0750.635428b","name":"encorder","func":"var chip=global.get(\"chip\")||\"\";\nvar monit=global.get(\"monitVal\")||0;\nvar num=msg.payload.p4[0]+msg.payload.p4[1]*2+msg.payload.p4[2]*4+msg.payload.p4[3]*8;\nmsg.payload=\"{'chipid':'\"+chip+\"', 'p4':'\"+num.toString(16)+\"','monit':\"+monit+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":694,"y":400,"wires":[["ce9b1a75.a387a8","65c4fb65.e4c764"]]},{"id":"7de47a7.7ae1e84","type":"function","z":"3b0750.635428b","name":"findOne","func":"var chip=global.get(\"chip\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : chip};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":423,"y":400,"wires":[["5cfe6ecf.4e1ba"]]},{"id":"5cfe6ecf.4e1ba","type":"mongodb2 in","z":"3b0750.635428b","service":"_ext_","configNode":"e9faa26.96d1a6","name":"local","collection":"","operation":"","x":553,"y":400,"wires":[["3c75b9b8.0b3366"]]},{"id":"a8dc1fe8.4f59f","type":"link in","z":"3b0750.635428b","name":"","links":["4ead00e8.377d8","4f2d0ec2.91cbc"],"x":318,"y":400,"wires":[["7de47a7.7ae1e84"]]},{"id":"ce9b1a75.a387a8","type":"ui_text","z":"3b0750.635428b","group":"86de085a.657798","order":13,"width":0,"height":0,"name":"","label":"Transmitt","format":"{{msg.payload}}","layout":"row-spread","x":851,"y":360,"wires":[]},{"id":"4f2d0ec2.91cbc","type":"link out","z":"3b0750.635428b","name":"","links":["a8dc1fe8.4f59f"],"x":578,"y":280,"wires":[]},{"id":"d9b60ef2.c6e6e","type":"function","z":"3b0750.635428b","name":"findOne","func":"var inPlc=global.get(\"inPlc\")||\"\";\nvar chipid=global.get(\"inChip\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = {'chip':inPlc.chipid};\nreturn newMsg;","outputs":1,"noerr":0,"x":280,"y":720,"wires":[["de24d95b.aaf1e8"]]},{"id":"de24d95b.aaf1e8","type":"mongodb2 in","z":"3b0750.635428b","service":"_ext_","configNode":"4948a680.929518","name":"local","collection":"","operation":"","x":410,"y":720,"wires":[["d8cfcee6.0fb0a"]]},{"id":"d8cfcee6.0fb0a","type":"function","z":"3b0750.635428b","name":"","func":"var out=[];\nout.push({payload:msg.payload.p0[0]});\nout.push({payload:msg.payload.p0[1]});\nout.push({payload:msg.payload.p0[2]});\nout.push({payload:msg.payload.p0[3]});\nout.push({payload:msg.payload.p0[4]});\nout.push({payload:msg.payload.p0[5]});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5]];\n","outputs":6,"noerr":0,"x":541,"y":720,"wires":[["267209ff.617256"],["67df8956.5b5db8"],["2010a4c4.59f89c"],["112a9eae.b9f701"],["25ecc427.32c17c"],["40631482.62bd8c"]]},{"id":"d70bc219.81745","type":"function","z":"3b0750.635428b","name":"find.toArray","func":"msg.collection = 'localRecord';\nmsg.operation  = 'find.toArray';\nmsg.payload    = {};\nmsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":220,"wires":[["6f6de537.915edc"]]},{"id":"f7e6b220.b2db5","type":"inject","z":"3b0750.635428b","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":157,"y":220,"wires":[["d70bc219.81745"]]},{"id":"6f6de537.915edc","type":"mongodb2 in","z":"3b0750.635428b","service":"_ext_","configNode":"4948a680.929518","name":"local","collection":"","operation":"","x":442,"y":220,"wires":[["da1762e7.d5aca"]]},{"id":"da1762e7.d5aca","type":"function","z":"3b0750.635428b","name":"","func":"var out=[];\nfor(i=0;i<msg.payload.length;i++) {\n    out[i]=msg.payload[i].chip;\n}\nmsg.options=out;\nreturn msg;","outputs":1,"noerr":0,"x":566,"y":220,"wires":[["ad9d9b90.775628"]]},{"id":"e1db899d.60b118","type":"ui_switch","z":"3b0750.635428b","name":"","label":"모니터링","tooltip":"","group":"86de085a.657798","order":2,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":700,"y":160,"wires":[["2f8de835.31e1f8"]]},{"id":"2f8de835.31e1f8","type":"function","z":"3b0750.635428b","name":"","func":"//var chip=global.get(\"chip\")||\"\";\nglobal.set(\"monitVal\",msg.payload);\n//msg.payload=\"{'chipid':'\"+chip+\"','monit':\"+msg.payload+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":160,"wires":[["7de47a7.7ae1e84"]]},{"id":"2d30f17f.79372e","type":"comment","z":"3b0750.635428b","name":"설명1","info":"","x":130,"y":500,"wires":[]},{"id":"38b09903.fe0876","type":"comment","z":"3b0750.635428b","name":"설명2","info":"","x":550,"y":640,"wires":[]},{"id":"1bd3228e.c6346d","type":"comment","z":"3b0750.635428b","name":"설명3","info":"","x":130,"y":180,"wires":[]},{"id":"f8445864.f0cc28","type":"comment","z":"3b0750.635428b","name":"설명4","info":"","x":264.8958435058594,"y":318.8888854980469,"wires":[]},{"id":"8695c3fa.063e9","type":"comment","z":"3b0750.635428b","name":"설명5","info":"","x":830,"y":120,"wires":[]},{"id":"bb7e757c.8884f8","type":"debug","z":"3b0750.635428b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":620,"wires":[]},{"id":"24c4ef9d.ad313","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","tls":"8a90dc51.8a449","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"86de085a.657798","type":"ui_group","z":"","name":"PLC Testing","tab":"5df10aa4.21c044","order":1,"disp":true,"width":"9","collapse":false},{"id":"4948a680.929518","type":"mongodb2","z":"3b0750.635428b","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":"-1"},{"id":"e9faa26.96d1a6","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":""},{"id":"8a90dc51.8a449","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"5df10aa4.21c044","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]