2-24-1 LS PLC XEC-DR14E XG5000 modbus continuous bit read with node red HTML/2-24-1 node red.txt
[{"id":"517bb909.567a78","type":"template","z":"9c7ed8af.c93b78","name":"style","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"body {\n    background: #eab0dc;\n    font-family: \"Lato\", sans-serif;\n}\n.button {\n    border: none;\n    border-color:black;\n    color: white;\n    padding: 20px;\n    text-align: center;\n    text-decoration: none;\n    display: inline-block;\n    font-size: 16px;\n    margin: 4px 2px;\n    cursor: pointer;\n}\n.buttonMenu {\n    padding: 5px 24px;\n    margin-left:20%;\n    background-color:black;\n    border: none;\n    border-color:black;\n    color:white;\n    text-align: left;\n    text-decoration: none;\n    display: inline-block;\n    font-size: 16px;\n    margin: 4px 2px;\n    cursor: pointer;\n}\n.sidenav {\n    height: 100%;\n    width: 0;\n    position: fixed;\n    z-index: 1;\n    top: 0;\n    left: 0;\n    background-color: #111;\n    overflow-x: hidden;\n    transition: 0.5s;\n    padding-top: 60px;\n}\n.sidenav a {\n    padding: 8px 8px 8px 32px;\n    text-decoration: none;\n    font-size: 18px;\n    color: #818181;\n    display: block;\n    transition: 0.3s;\n}\n.sidenav a:hover {\n    color: #f1f1f1;\n}\n\n.sidenav .closebtn {\n    position: absolute;\n    top: 0;\n    right: 25px;\n    font-size: 36px;\n    margin-left: 50px;\n}\n\n.button-on {border-radius: 100%; background-color: #4CAF50;}\n.button-off {border-radius: 100%;background-color: #707070;}\n.button-ledon {border-radius: 100%; padding: 10px; font-size: 8px; margin: 0px 0px; background-color: #ff4500;}\n.button-ledoff {border-radius: 100%; padding: 10px; font-size: 8px; background-color: #707070;}","output":"str","x":250,"y":160,"wires":[["2904e147.0b9f5e"]]},{"id":"bc9af2a9.63b85","type":"http in","z":"9c7ed8af.c93b78","name":"","url":"/main","method":"get","upload":false,"swaggerDoc":"","x":100,"y":160,"wires":[["517bb909.567a78"]]},{"id":"e2636e1f.22435","type":"http response","z":"9c7ed8af.c93b78","name":"","x":650,"y":160,"wires":[]},{"id":"687d986d.9fd998","type":"template","z":"9c7ed8af.c93b78","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<meta http-equiv='refresh' content='1; url=http://117.16.176.76:1880/main' method='get'> \n<style> {{{payload.style}}} </style>\n</head>\n<body>\n<h3 style='color:SteelBlue;'>&emsp;김동일유튜브 <a href='http://i2r.link' style='color:SteelBlue;'>http://i2r.link</a> </h3>\n<h3 style='color:SteelBlue;'>&emsp;4차산업혁명의 시작 -> 센서와 엑튜에이터를 크라우드컴퓨터 빅데이터에 연결</h3>\n{{{payload.t}}} \n</body>\n</html>","output":"str","x":520,"y":160,"wires":[["e2636e1f.22435"]]},{"id":"2904e147.0b9f5e","type":"function","z":"9c7ed8af.c93b78","name":"","func":"global.set(\"style\",msg.payload.style);\nvar out = global.get('out') || \"\";\nvar s=\"\";\nvar i=0;\ns+=\"입력<br>\";\ns+=\"<table>\";\ns+=\"<tr>\";\ns+=\"<th>q00</th>\";\ns+=\"<th>q01</th>\";\ns+=\"<th>q02</th>\";\ns+=\"<th>q03</th>\";\ns+=\"<th>q04</th>\";\ns+=\"<th>q05</th>\";\ns+=\"<th>q06</th>\";\ns+=\"<th>q07</th>\";\ns+=\"</tr>\";\ns+=\"<tr>\";\nfor(i=0;i<8;i++) {\nif(out.charAt(7-i)=='1') \n    s+=\"<th><button type='submit' name='value' value='0' class='button button-ledon' ></button></a></th>\";\nelse\n    s+=\"<th><button type='submit' name='value' value='1' class='button button-ledoff' ></button></a></th>\";    \n}\ns+=\"</tr>\";\ns+=\"</table>\";\n\nmsg.payload.t=s;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":160,"wires":[["687d986d.9fd998"]]},{"id":"a7293af4.afe638","type":"function","z":"9c7ed8af.c93b78","name":"디코드","func":"var dec=msg.payload[3];\nvar bin = parseInt(dec).toString(2);\nbin=\"00000000\"+bin;\nbin = bin.slice(-8);\nglobal.set(\"out\",bin);\nmsg.payload=bin;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":95,"wires":[[]]},{"id":"28acd415.a99c7c","type":"function","z":"9c7ed8af.c93b78","name":"쓰기","func":"buf=[0,2,0,0,0,8,0,0];\nmsg.payload=buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":95,"wires":[["d8ae25f3.2b4138"]]},{"id":"d8ae25f3.2b4138","type":"function","z":"9c7ed8af.c93b78","name":"modbus cal","func":"var auchCRCHi = [\n        0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0,\n        0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41,\n        0x00, 0xC1, 0x81, 0x40, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0,\n        0x80, 0x41, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, 0x81, 0x40,\n        0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1,\n        0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0, 0x80, 0x41,\n        0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1,\n        0x81, 0x40, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41,\n        0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0,\n        0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x00, 0xC1, 0x81, 0x40,\n        0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1,\n        0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, 0x81, 0x40,\n        0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0,\n        0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x00, 0xC1, 0x81, 0x40,\n        0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0,\n        0x80, 0x41, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, 0x81, 0x40,\n        0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0,\n        0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41,\n        0x00, 0xC1, 0x81, 0x40, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0,\n        0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41,\n        0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0,\n        0x80, 0x41, 0x00, 0xC1, 0x81, 0x40, 0x00, 0xC1, 0x81, 0x40,\n        0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0, 0x80, 0x41, 0x00, 0xC1,\n        0x81, 0x40, 0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41,\n        0x00, 0xC1, 0x81, 0x40, 0x01, 0xC0, 0x80, 0x41, 0x01, 0xC0,\n        0x80, 0x41, 0x00, 0xC1, 0x81, 0x40\n      ];\n\n      /* Table of CRC values for low-order byte */\n    var auchCRCLo = [\n        0x00, 0xC0, 0xC1, 0x01, 0xC3, 0x03, 0x02, 0xC2, 0xC6, 0x06,\n        0x07, 0xC7, 0x05, 0xC5, 0xC4, 0x04, 0xCC, 0x0C, 0x0D, 0xCD,\n        0x0F, 0xCF, 0xCE, 0x0E, 0x0A, 0xCA, 0xCB, 0x0B, 0xC9, 0x09,\n        0x08, 0xC8, 0xD8, 0x18, 0x19, 0xD9, 0x1B, 0xDB, 0xDA, 0x1A,\n        0x1E, 0xDE, 0xDF, 0x1F, 0xDD, 0x1D, 0x1C, 0xDC, 0x14, 0xD4,\n        0xD5, 0x15, 0xD7, 0x17, 0x16, 0xD6, 0xD2, 0x12, 0x13, 0xD3,\n        0x11, 0xD1, 0xD0, 0x10, 0xF0, 0x30, 0x31, 0xF1, 0x33, 0xF3,\n        0xF2, 0x32, 0x36, 0xF6, 0xF7, 0x37, 0xF5, 0x35, 0x34, 0xF4,\n        0x3C, 0xFC, 0xFD, 0x3D, 0xFF, 0x3F, 0x3E, 0xFE, 0xFA, 0x3A,\n        0x3B, 0xFB, 0x39, 0xF9, 0xF8, 0x38, 0x28, 0xE8, 0xE9, 0x29,\n        0xEB, 0x2B, 0x2A, 0xEA, 0xEE, 0x2E, 0x2F, 0xEF, 0x2D, 0xED,\n        0xEC, 0x2C, 0xE4, 0x24, 0x25, 0xE5, 0x27, 0xE7, 0xE6, 0x26,\n        0x22, 0xE2, 0xE3, 0x23, 0xE1, 0x21, 0x20, 0xE0, 0xA0, 0x60,\n        0x61, 0xA1, 0x63, 0xA3, 0xA2, 0x62, 0x66, 0xA6, 0xA7, 0x67,\n        0xA5, 0x65, 0x64, 0xA4, 0x6C, 0xAC, 0xAD, 0x6D, 0xAF, 0x6F,\n        0x6E, 0xAE, 0xAA, 0x6A, 0x6B, 0xAB, 0x69, 0xA9, 0xA8, 0x68,\n        0x78, 0xB8, 0xB9, 0x79, 0xBB, 0x7B, 0x7A, 0xBA, 0xBE, 0x7E,\n        0x7F, 0xBF, 0x7D, 0xBD, 0xBC, 0x7C, 0xB4, 0x74, 0x75, 0xB5,\n        0x77, 0xB7, 0xB6, 0x76, 0x72, 0xB2, 0xB3, 0x73, 0xB1, 0x71,\n        0x70, 0xB0, 0x50, 0x90, 0x91, 0x51, 0x93, 0x53, 0x52, 0x92,\n        0x96, 0x56, 0x57, 0x97, 0x55, 0x95, 0x94, 0x54, 0x9C, 0x5C,\n        0x5D, 0x9D, 0x5F, 0x9F, 0x9E, 0x5E, 0x5A, 0x9A, 0x9B, 0x5B,\n        0x99, 0x59, 0x58, 0x98, 0x88, 0x48, 0x49, 0x89, 0x4B, 0x8B,\n        0x8A, 0x4A, 0x4E, 0x8E, 0x8F, 0x4F, 0x8D, 0x4D, 0x4C, 0x8C,\n        0x44, 0x84, 0x85, 0x45, 0x87, 0x47, 0x46, 0x86, 0x82, 0x42,\n        0x43, 0x83, 0x41, 0x81, 0x80, 0x40\n      ];\n\n//var data=Buffer.from([1,15,0,0,0,10,2,255,0,0,0]);\nvar data=Buffer.from(msg.payload);\nvar nTemp;\nvar wCRCWord = 0xFFFF;\n//data=msg.payload;\nvar len=data.length-2;\nvar crc = [0xFF, 0xFF];\n    var nextByte = 0;\n    var uIndex; /* will index into CRC lookup*/ /* table */\n    /* pass through message buffer */\n    for (var i = 0; i < len && i < data.length; i++) {\n      nextByte = 0xFF & (data[i]);\n      uIndex = crc[0] ^ nextByte; //*puchMsg++; /* calculate the CRC */\n      crc[0] = crc[1] ^ auchCRCHi[uIndex];\n      crc[1] = auchCRCLo[uIndex];\n    }\n\ndata[len]=crc[0];\ndata[len+1]=crc[1];\nmsg.payload= data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":418.00001525878906,"y":93.99998664855957,"wires":[["68a306d9.277358"]]},{"id":"dc452a58.b301e8","type":"inject","z":"9c7ed8af.c93b78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":95,"wires":[["28acd415.a99c7c"]]},{"id":"68a306d9.277358","type":"serial request","z":"9c7ed8af.c93b78","name":"","serial":"63957752.49a888","x":570,"y":95,"wires":[["a7293af4.afe638"]]},{"id":"bd757e79.9ba5b","type":"comment","z":"9c7ed8af.c93b78","name":"참조메뉴얼","info":"LS산전 \"사용설명서_XGB Cnet_V1.8.pdf\"\n9-8 페이지\n9.4.2 비트 입력영역에 비트형식의 데이터 읽기(02) ","x":100,"y":55,"wires":[]},{"id":"a1d855d9.50be08","type":"comment","z":"9c7ed8af.c93b78","name":"참조유튜브","info":"https://youtu.be/hlGKl6BQL78","x":260,"y":55,"wires":[]},{"id":"63957752.49a888","type":"serial-port","serialport":"COM4","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"100","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"}]