2-0-11_Timer_TON_UI_Counter/2-0-11 Node-red Program.txt
[{"id":"3b403a5a.e90176","type":"serial request","z":"6624d090.98dbb","name":"","serial":"71268d87.1aff94","x":617.0173416137695,"y":181.0104751586914,"wires":[["cf04c5ed.1d7ec8"]]},{"id":"cf04c5ed.1d7ec8","type":"debug","z":"6624d090.98dbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":768.0694961547852,"y":180.57291221618652,"wires":[]},{"id":"183615d9.cceada","type":"function","z":"6624d090.98dbb","name":"Write D1,M0","func":"var m0=global.get(\"m0\")||0;\nvar d1=global.get(\"d1\")||0;\nmsg.payload='\\u0005'+\"00WSS0206%DW001\"+d1+\"06%MW000\"+m0+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":438.0000457763672,"y":178.01041221618652,"wires":[["3b403a5a.e90176"]]},{"id":"ec208276.38533","type":"ui_switch","z":"6624d090.98dbb","name":"","label":"M0","tooltip":"","group":"1460b362.f095ed","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":128.00001525878906,"y":176.0000057220459,"wires":[["1ab533de.2d074c"]]},{"id":"1ab533de.2d074c","type":"function","z":"6624d090.98dbb","name":"","func":"msg.payload='000'+msg.payload;\nglobal.set(\"m0\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":262.00001525878906,"y":175.0000057220459,"wires":[["183615d9.cceada"]]},{"id":"92e8b2c9.6807a","type":"function","z":"6624d090.98dbb","name":"","func":"var bin=msg.payload;\nbin=bin.toString(16);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nglobal.set(\"d1\",bin);\nreturn msg;","outputs":1,"noerr":0,"x":261.00001525878906,"y":234.0000057220459,"wires":[["183615d9.cceada"]]},{"id":"e189f2d3.c6e5a","type":"ui_slider","z":"6624d090.98dbb","name":"","label":"D1(0~1000)","tooltip":"","group":"1460b362.f095ed","order":3,"width":"7","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"1000","step":1,"x":121.00001525878906,"y":233.0000057220459,"wires":[["92e8b2c9.6807a","17d6ecca.5753c3"]]},{"id":"17d6ecca.5753c3","type":"ui_text","z":"6624d090.98dbb","group":"1460b362.f095ed","order":4,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":270.00001525878906,"y":286.0000057220459,"wires":[]},{"id":"f9d2161f.211438","type":"serial request","z":"6624d090.98dbb","name":"","serial":"71268d87.1aff94","x":427.0173797607422,"y":89.01042652130127,"wires":[["c337ffb.ecd19"]]},{"id":"89d93ce.299eac","type":"inject","z":"6624d090.98dbb","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":130.06936645507812,"y":87.96527671813965,"wires":[["f844be3b.1d28c"]]},{"id":"c337ffb.ecd19","type":"function","z":"6624d090.98dbb","name":"S Return Value","func":"var dec = msg.payload.charAt(10)+msg.payload.charAt(11)+msg.payload.charAt(12)+msg.payload.charAt(13);\nvar timer=parseInt( dec, 16 );\ndec = msg.payload.charAt(16)+msg.payload.charAt(17)+msg.payload.charAt(18)+msg.payload.charAt(19);\nvar counter=parseInt( dec, 16 );\nvar d1=global.get(\"d1\")||0;\nmsg.payload=counter*d1+timer;\nreturn msg;","outputs":1,"noerr":0,"x":589.0172805786133,"y":89.01037979125977,"wires":[["e9fd05da.bdda68"]]},{"id":"e9fd05da.bdda68","type":"ui_text","z":"6624d090.98dbb","group":"1460b362.f095ed","order":0,"width":0,"height":0,"name":"","label":"카운트","format":"{{msg.payload}}","layout":"row-spread","x":745.0798187255859,"y":88.24998092651367,"wires":[]},{"id":"f844be3b.1d28c","type":"function","z":"6624d090.98dbb","name":"Read T97","func":"//msg.payload='\\u0005'+\"00RSS0106%TW097\"+'\\u0004';\nmsg.payload='\\u0005'+\"00RSS0206%TW09706%CW001\"+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":285.0173645019531,"y":89.01041412353516,"wires":[["f9d2161f.211438"]]},{"id":"2b8970fa.683cd","type":"function","z":"6624d090.98dbb","name":"Write M1=1","func":"msg.payload='\\u0005'+\"00WSS0106%MX00101\"+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":296.01741790771484,"y":344.0104184150696,"wires":[["889e205b.e4824"]]},{"id":"18233fb6.c980e","type":"ui_button","z":"6624d090.98dbb","name":"","group":"1460b362.f095ed","order":5,"width":0,"height":0,"passthru":false,"label":"카운터리셋","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":132.08331298828125,"y":344.45830726623535,"wires":[["2b8970fa.683cd"]]},{"id":"889e205b.e4824","type":"serial request","z":"6624d090.98dbb","name":"","serial":"71268d87.1aff94","x":443.01739501953125,"y":344.01039123535156,"wires":[["7c797719.e1e6c8"]]},{"id":"7c797719.e1e6c8","type":"delay","z":"6624d090.98dbb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":579.0764503479004,"y":343.28472328186035,"wires":[["b4fe36b1.9f3038"]]},{"id":"b4fe36b1.9f3038","type":"function","z":"6624d090.98dbb","name":"Write M1=0","func":"msg.payload='\\u0005'+\"00WSS0106%MX00100\"+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":457.0172882080078,"y":410.01037216186523,"wires":[["c86144d2.9388d8"]]},{"id":"c86144d2.9388d8","type":"serial request","z":"6624d090.98dbb","name":"","serial":"71268d87.1aff94","x":597.0172824859619,"y":408.01037216186523,"wires":[[]]},{"id":"71268d87.1aff94","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"100","bin":"false","out":"time","addchar":"false","responsetimeout":"100"},{"id":"1460b362.f095ed","type":"ui_group","z":"","name":"PLC Testing","tab":"232a2cf.e72a6d4","disp":true,"width":"9","collapse":false},{"id":"232a2cf.e72a6d4","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]